@mixin account($function) {
    .account_top {
        padding-top: call(get-function($function), 90px);
    }
    .primary-btn, .sidebar__btn{
       cursor: pointer;
       font-size: call(get-function($function), 15px);
       outline: none;
       border-radius: call(get-function($function), 100px);
    }

    .password-input{
       outline: none;
       border: call(get-function($function), 1px) solid #C8C9CC;
       border-radius: call(get-function($function), 100px);
       padding: call(get-function($function), 14px) call(get-function($function), 30px);
    }

    .primary-btn{
       color: #000;
       background-color: #fff;
       border: call(get-function($function), 2px) solid #D50032;
       padding: call(get-function($function), 17px) call(get-function($function), 30px);
    }

    .left-side{
       width: 30%;
       h1 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 28px);
        line-height: call(get-function($function), 38px);
        color: #333D4D;
       }
       .sidebar{
          border: call(get-function($function), 1px) solid #C8C9CC;
          border-radius: call(get-function($function), 27px);
          padding: call(get-function($function), 30px);
          margin-top: call(get-function($function), 50px);
          margin-bottom: call(get-function($function), 50px);
          &__menu {
              margin: 0;
              padding: 0;
          }
          &__item{
             display: flex;
             align-items: center;
             padding-bottom: call(get-function($function), 30px);
             margin-bottom: call(get-function($function), 30px);
             border-bottom:  call(get-function($function), 1px) solid #C8C9CC;
             img{
                width: call(get-function($function), 24px);
                margin-right: call(get-function($function), 20px);
             }
          }
          &__link{
             font-size: call(get-function($function), 16px);
             color: #333D4D;
          }
          .active{
             color: #D50032;
          }
          &__btn{
             width: 100%;
             color: #fff;
             background-color: #D50032;
             padding: call(get-function($function), 17px) 0;
             border: none;
          }
       }
    }

    .personal-data{
       &__content{
          display: flex;
          justify-content: space-between;
          .right-side{
             width: 69%;
             .title{
                display: flex;
                justify-content: space-between;
                h2 {
                    font-family: 'Gotham Pro';
                    font-size: call(get-function($function), 28px);
                    line-height: call(get-function($function), 38px);
                    color: #333D4D;
                }
             }
             .order-history-content{
                border: none;
                padding: 0;
             }
             &__content{
                margin-top: call(get-function($function), 30px);
                border: call(get-function($function), 1px) solid #EFF0F5;
                border-radius: call(get-function($function), 27px);
                padding: call(get-function($function), 30px);
                margin-bottom: call(get-function($function), 50px);
                .form{
                   display: grid;
                   grid-template-columns: repeat(2, 1fr);
                   grid-gap: call(get-function($function), 20px);
                   padding-bottom: call(get-function($function), 30px);
                   border-bottom: call(get-function($function), 1px) solid #EFF0F5;
                   label{
                      font-size: call(get-function($function), 16px);
                      display: block;
                      color: #333D4D;
                   }
                   input{
                      width: 100%;
                      margin-top: call(get-function($function), 15px);
                   }
                }
                .form2{
                   margin-top: call(get-function($function), 30px);
                }
                .form3{
                   margin-top: call(get-function($function), 30px);
                   border-bottom: 0;
                }
                .password-form{
                   display: grid;
                   grid-template-columns: 50%;
                   .form-item{
                      position: relative;
                      .password-form-icon{
                         width: call(get-function($function), 20px);
                         position: absolute;
                         right: call(get-function($function), 15px);
                         top: 60%;
                      }
                   }
                }
                // ORDER-HISTORY STYLE
                .box{
                   display: flex;
                   justify-content: space-between;
                   padding-bottom: call(get-function($function), 20px);
                   border-bottom: call(get-function($function), 1px) solid #EFF0F5;
                   margin-bottom: call(get-function($function), 20px);
                   &-item{
                      font-size: call(get-function($function), 16px);
                      margin-right: call(get-function($function), 5px);
                      line-height: call(get-function($function), 24px);
                      &-title{
                         font-size: call(get-function($function), 12px);
                         color: #8F9195;
                         margin-bottom: call(get-function($function), 20px);
                         text-transform: uppercase;
                      }
                      .hidden{
                         display: none;
                      }
                      a{
                         font-size: call(get-function($function), 12px);
                         color: #D50032;
                         text-decoration: underline;
                      }
                      .price{
                         font-weight: 700;
                      }
                      .status{
                         color: #D50032;
                      }
                      .status-completed{
                         color: #333D4D;
                      }
                   }
                   .last-item{
                      margin-right: 0;
                   }
                }
                .last-box{
                   border: none;
                }
             }
          }
       }
    }

    .form-item {
        font-family: 'Gotham Pro';
        font-size: 16px;
        line-height: 20px;
        color: #333D4D;
        input {
            width: call(get-function($function), 362px);
            height: call(get-function($function), 48px);
            border: call(get-function($function), 1px) solid #C8C9CC;
            box-sizing: border-box;
            border-radius: call(get-function($function), 100px);
            padding-left: call(get-function($function), 15px);
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #8F9195;
            }
        }
    }



    @media screen and (max-width: 1024px){
        .left-side{
           width: 100%;
        }
        .personal-data{
           &__content{
              flex-direction: column;
              .right-side{
                 margin-top: call(get-function($function), 50px);
                 width: 100%;

                 .password-form{
                    grid-template-columns: 100%;
                 }
              }
           }
        }
     }

     @media screen and (max-width: 768px){
        .personal-data{
            &__content{
                .right-side{
                    &__content{
                        .box{
                            flex-direction: column;
                            &-item{
                                display: flex;
                                margin-bottom: call(get-function($function), 20px);
                                &-title{
                                    margin-right: call(get-function($function), 20px);
                                    margin-bottom: 0;
                                }
                                .hidden{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 576px){
    .personal-data{
        &__content{
            .right-side{
                .title{
                flex-direction: column;
                h2{
                    margin-bottom: call(get-function($function), 30px);
                }
                }
                &__content{
                .form{
                    grid-template-columns: 1fr;
                }
                }
            }
        }
    }
    }
}

