@mixin basket($function) {
    .basket{
        padding-top: call(get-function($function), 93px);
        padding-bottom: call(get-function($function), 323px);
        .hansa-title{
            h1{
                font-size: call(get-function($function), 28px);
                line-height: call(get-function($function), 38px);;
                color: #333D4D;
                margin-bottom: call(get-function($function), 47px);;
                font-family: 'Gotham Pro Bold';
            }
        }
        .hansa-subtitle{
            p{
                font-size: call(get-function($function), 12px);
                line-height: 125.7%;
                text-transform: uppercase;
                color: #8F9195;
                font-family: 'Gotham Pro';
            }
        }
        .basket-prod{
            border-bottom: call(get-function($function), 1px) solid #C8C9CC;
        }
        .basket-content{
            margin-bottom: call(get-function($function), 30px);
            .product-image{
                width: call(get-function($function), 73px);
                height: call(get-function($function), 73px);
                display: flex;
                align-items: center;
                justify-content: center;
                border: call(get-function($function), 1px) solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: call(get-function($function), 8px);
                img{
                    width: call(get-function($function), 45px);
                    height: call(get-function($function), 50px);
                }
            }
            .product-text{
                margin-top: call(get-function($function), 18px);
            }
            .product-text-1{
                margin-right: call(get-function($function), 22px);
                margin-left: call(get-function($function), -47px);
                h2{
                    min-width: call(get-function($function), 230px);
                }
            }
            .product-delete{
                margin-top: call(get-function($function), 15px);
                display: flex;
                justify-content: flex-end;
            }
            .product-count{
                display: flex;
                align-items: center;
                height: call(get-function($function), 20px) !important;
                .minus{
                    margin-right: call(get-function($function), 13px);
                }
                .plus{
                    margin-left: call(get-function($function), 13px);
                }
            }
            .product-name{
                height: call(get-function($function), 73px);
                h2{
                    font-size: call(get-function($function), 16px);
                    line-height: call(get-function($function), 20px);
                    font-family: 'Gotham Pro';
                    color: #333D4D;
                }
                h3{
                    font-size: call(get-function($function), 16px);
                    line-height: call(get-function($function), 20px);
                    font-family: 'Gotham Pro';
                    color: #333D4D;
                    margin-bottom: 0;
                }
            }
            .product-price{
                h3{
                    font-family: 'Gotham Pro Bold' !important;
                }
            }
        }
        .basket-right-wrapper{
            border: call(get-function($function), 3px) solid #D50032;
            box-sizing: border-box;
            border-radius: call(get-function($function), 27px);
            padding: call(get-function($function), 40px) call(get-function($function), 30px);
            input{
                border: call(get-function($function), 1px) solid #C8C9CC;
                box-sizing: border-box;
                border-radius: call(get-function($function), 100px);
                height: call(get-function($function), 48px);
                width: 100%;
                padding-left: call(get-function($function), 30px);
            }
            .price-num{
                border-bottom: call(get-function($function), 1px) solid #C8C9CC;
            }
            .checkout-btn{
                height: call(get-function($function), 48px);
                background: #D50032;
                border-radius: call(get-function($function), 100px);
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: call(get-function($function), 15px);
                    line-height: call(get-function($function), 14px);
                    color: #FFFFFF;
                }
            }
            .basket-price-inner{
                height: call(get-function($function), 73px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .total-price{
                    span{
                        color: #D50032 !important;
                    }
                }
                .price-left{
                    p{
                        font-size: call(get-function($function), 16px);
                        line-height: call(get-function($function), 20px);
                        color: #8F9195;
                        font-family: 'Gotham Pro';
                        margin-bottom: 0;
                    }
                }
                .price-right{
                    span{
                        font-size: call(get-function($function), 16px);
                        line-height: 125.7%;
                        color: #333D4D;
                        font-family: 'Gotham Pro Bold';
                    }
                }
            }
        }
    }
}









@media screen and (max-width: 1024px) {
    .catalog__title_filter {
      flex-direction: column;
      align-items: flex-start;
    }
    .catalog__title {
      flex-direction: column;
      align-items: flex-start;
    }
    .catalog__title_filter__news {
      margin-top: get-vw-1024(10px);
      margin-bottom: get-vw-1024(10px);
    }
  }
  @media screen and (min-width: 768px) and (max-width:1024px){
    .basket {
        .basket-content {
            .product-name {
                h3{
                    text-align: center;
                }
            }
        }
    }

  }
  @media screen and (max-width: 600px) {

  }
  @media screen and (max-width: 480px) {
    .basket{
        .row{
            margin-right: 0 !important ;
        }
        .basket-wrap-left{
            .row{
                flex-wrap: nowrap;
                margin-right: 0 !important;
            }
        }
        .basket-content{
            .product-text-1{
                margin-left: get-vw-480(-10px)
            }
        }
    }
  }
  @media screen and (max-width: 360px) {

  }
