@mixin catalog($function) {
    .outlet_btn {
        display: block;
        cursor: pointer;
        border: none;
        color: #fff;
        background: #D50032;
        width: 100%;
        min-height: call(get-function($function), 24px);
        background: #D50032;
        border-radius: call(get-function($function), 100px);
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 15px);
        line-height: call(get-function($function), 14px);
        text-align: center;
        padding-top:call(get-function($function), 15px);
        padding-bottom: call(get-function($function), 15px);
        margin-top: call(get-function($function), 5px);
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
        &:focus {
          outline: none;
        }
      }
    .prev_pagination {
        transform: rotate(180deg);
    }
    .categoriest_filter_reset_wrap {
        display: flex;
        width: 100%;
        padding-bottom: call(get-function($function), 30px);
        border-bottom: 1px solid #C8C9CC;
    }
    .categories_title {
        margin-top: call(get-function($function), 15px);
    }
  .catalog {
    width: 100%;
    background: #EFF0F5;
    padding-top: call(get-function($function), 70px);
    padding-bottom: call(get-function($function), 70px);
    &__filter_a {
      h4 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 14px);
        line-height: 125.7%;
        color: #8F9195;
        margin: 0;
        img {
          margin-left: call(get-function($function), 8px);
          width: call(get-function($function), 10px);
          height: call(get-function($function), 10px);
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
    .breadscrumb {
      padding-bottom: call(get-function($function), 23px);
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
          a {
            font-family: 'Gotham Pro';
            font-weight: 600;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 14px);
            color: #8F9195;
          }
        }
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_h3 {
        font-family: 'Gotham Pro';
        font-weight: 600;
        font-size: call(get-function($function), 28px);
        line-height: call(get-function($function), 38px);
        color: #333D4D;
      }
      &_filter {
        display: flex;
        align-items: center;
        &__price {
          height: call(get-function($function), 42px);
          background: #FFFFFF;
          border: call(get-function($function), 1px) solid #C8C9CC;
          box-sizing: border-box;
          border-radius: call(get-function($function), 30px);
        //   width: call(get-function($function), 256px);
        width: 100%;
          padding: call(get-function($function), 9px), call(get-function($function), 16px);
          display: flex;
          align-items: center;
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 12px);
          line-height: call(get-function($function), 11px);
          color: #151515;
          margin-right: call(get-function($function), 20px);
        }
        &__news {
          height: call(get-function($function), 42px);
          background: #FFFFFF;
          border: call(get-function($function), 1px) solid #C8C9CC;
          box-sizing: border-box;
          border-radius: call(get-function($function), 30px);
          width: call(get-function($function), 300px);
          padding: get-vw-1920(9px), get-vw-1920(16px);
          padding-top: call(get-function($function), 9px);
          padding-bottom: call(get-function($function), 9px);
          padding-left: call(get-function($function), 16px);
          padding-right: call(get-function($function), 18px);
          margin-right: call(get-function($function), 15px);
        }
        &__populate {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: call(get-function($function), 42px);
          background: #FFFFFF;
          border: call(get-function($function), 1px) solid #C8C9CC;
          box-sizing: border-box;
          border-radius: call(get-function($function), 30px);
          width: call(get-function($function), 350px);
          padding-top: call(get-function($function), 9px);
          padding-bottom: call(get-function($function), 9px);
          padding-left: call(get-function($function), 16px);
          padding-right: call(get-function($function), 18px);
          a {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 35%;
            font-family: 'Gotham Pro Bold';
            font-size: call(get-function($function), 12px);
            line-height: call(get-function($function), 11px);
            color: #151515;
            &:hover {
              text-decoration: none;
            }
            img {
              width: call(get-function($function), 10px);
              height: call(get-function($function), 4px);
            }
          }
        }
      }
    }
    .categories_filter {
      background: #FFFFFF;
      margin-top: call(get-function($function), 29px);
      border: call(get-function($function), 1px) solid #C8C9CC;
      box-sizing: border-box;
      box-shadow: 0px call(get-function($function), 31px) call(get-function($function), 20px) call(get-function($function), -10px) rgba(32, 41, 54, 0.13);
      border-radius: call(get-function($function), 27px);
      &__collet {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 12px);
        line-height: 125.7%;
        color: #8F9195;
        display: flex;
        justify-content: center;
        padding-top: call(get-function($function), 10px);
        padding-bottom: call(get-function($function), 25px);
      }
      &__reset_btn {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 18px);
        line-height: 125.7%;
        padding: call(get-function($function), 12px) call(get-function($function), 32px);
        color: #000000;
        border: call(get-function($function), 1.5px) solid #D50032;
        box-sizing: border-box;
        border-radius: call(get-function($function), 100px);
        margin: 0 auto;
        &:hover {
            text-decoration: none;
        }
      }
      &__btn {
        background: #D50032;
        outline: none;
        border: call(get-function($function), 1.5px) solid #D50032;
        box-sizing: border-box;
        border-radius: call(get-function($function), 100px);
        margin-left: call(get-function($function), 30px);
        margin-right: call(get-function($function), 30px);
        margin-bottom: call(get-function($function), 15px);
        margin-top: call(get-function($function), 35px);
        width: call(get-function($function), 218px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: call(get-function($function), 13px);
        padding-bottom: call(get-function($function), 13px);
        img {
          width: call(get-function($function), 20px);
          height: call(get-function($function), 20px);
        }
        span {
          padding-left: call(get-function($function), 14px);
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 15px);
          line-height: call(get-function($function), 14px);
          text-align: center;
          color: #FFFFFF;
        }
      }
      &__links {
          padding-top: call(get-function($function), 25px);
        &__title {
          font-family: 'Gotham Pro Bold';
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 30px);
          color: #151515;
          padding-top: call(get-function($function), 10px);
          padding-bottom: call(get-function($function), 15px);
          padding-left: call(get-function($function), 30px);
        }
        &__list {
          list-style-type: none;
          margin: 0;
          padding-left: call(get-function($function), 30px);
          padding-right: call(get-function($function), 30px);
          padding-bottom: call(get-function($function), 15px);
          position: relative;
          border-bottom: 1px solid #C8C9CC;
          &:last-child {
              border-bottom: 0px;
          }
        //   &::after {
        //     content: '';
        //     position: absolute;
        //     background: #C8C9CC;
        //     width: 100%;
        //     height: 1px;
        //     bottom: 0;
        //     left: 0;
        //   }
          li {
            &:last-child > a {
              border-bottom: none;
            }
            padding-bottom: call(get-function($function), 17px);
            a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: call(get-function($function), 1px) solid rgba(200, 201, 204, 0.4);
              padding-bottom: call(get-function($function), 17.5px);
              h3 {
                font-family: Gotham Pro;
                font-size: call(get-function($function), 14px);
                line-height: call(get-function($function), 13px);
                color: #151515;
                margin: 0;
              }
              span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: call(get-function($function), 31px);
                height: call(get-function($function), 15px);
                background: #D50032;
                border-radius: call(get-function($function), 12px);
                font-family: 'Gotham Pro Bold';
                font-size: call(get-function($function), 10px);
                line-height: call(get-function($function), 10px);
                color: #FFFFFF;
                padding-left: call(get-function($function), 10px);
                padding-right: call(get-function($function), 10px);
              }
            }
          }
        }
      }
      &__range {
        padding-left: call(get-function($function), 30px);
        padding-right: call(get-function($function), 30px);
        border-bottom: 1px solid #C8C9CC;
        padding-bottom: call(get-function($function), 35px);
        &_block {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding-top: call(get-function($function), 25px);
          span {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 19px);
            color: #A9A9A9;
            padding-top: call(get-function($function), 15px);
          }
          &__item {
            h3 {
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 14px);
              line-height: call(get-function($function), 11px);
              color: #151515;
            }
            input {
              background: #FFFFFF;
              border: 1px solid #D1D1D1;
              box-sizing: border-box;
              width: call(get-function($function), 90px);
              height: call(get-function($function), 42px);
              border-radius: call(get-function($function), 30px);
              padding-left: call(get-function($function), 10px);
              padding-right: call(get-function($function), 10px);
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 14px);
              line-height: call(get-function($function), 13px);
              color: #A9A9A9;
              &:focus {
                outline: none;
              }
            }
          }
        }
        .irs--round .irs-handle {
          border: call(get-function($function), 2px) solid #D50032!important;
        }
        .irs--round .irs-bar {
          background: #D50032!important;
        }
      }
    }
    &__pagination {
      padding-top: call(get-function($function), 60px);
      &_descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &__links {
          display: flex;
          align-items: center;
          .active_paginate {
            color: #fff;
            padding-left: call(get-function($function), 17.5px);
            padding-right: call(get-function($function), 17.5px);
            padding-top: call(get-function($function), 13px);
            padding-bottom: call(get-function($function), 13px);
            background: #D50032;
            border-radius: call(get-function($function), 30px);
            margin-right: call(get-function($function), 30px);
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 15px);
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            li {
              padding-right: call(get-function($function), 40px);
              a {
                font-family: 'Gotham Pro';
                font-size: call(get-function($function), 16px);
                line-height: call(get-function($function), 15px);
                color: #450B5A;
              }
            }
          }
        }
        &__result {
          h3 {
            margin: 0;
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 15px);
            color: #ABADB0;
          }
        }
      }
    }
  }
  .filter_btn {
    display: none;
  }
  .catalog_label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    padding-left: call(get-function($function), 25px);
    cursor: pointer;
    font-size: call(get-function($function), 22px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    h3 {
      font-family: 'Gotham Pro';
      font-size: call(get-function($function), 12px);
      line-height: call(get-function($function), 11px);
      color: #151515;
      padding-left: 3px;
      margin: 0;
    }
  }
  .catalog_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: call(get-function($function), -6px);
    left: 0;
    height: call(get-function($function), 25px);
    width: call(get-function($function), 25px);
    background-color: #fff;
    border: call(get-function($function), 1.5px) solid #D1D1D1;
    border-radius: 50%;
    margin-left: call(get-function($function), 10px);
  }
  .catalog_label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .catalog_label input:checked ~ .checkmark {
    background-color: #D50032;
    border: none;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .catalog_label input:checked ~ .checkmark:after {
    display: block;
  }
  .catalog_label .checkmark:after {
    top: call(get-function($function), 7px);
    left: call(get-function($function), 7px);
    width: call(get-function($function), 11px);
    height: call(get-function($function), 11px);
    border-radius: 50%;
    background: white;
  }
  .catalog_checkbox {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: call(get-function($function), 35px);
    cursor: pointer;
    margin: 0;
    font-size: call(get-function($function), 22px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    h3 {
      font-family: 'Gotham Pro';
      font-size: call(get-function($function), 12px);
      line-height: call(get-function($function), 11px);
      color: #151515;
      margin: 0;
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
    }
    &__label {
      border-right: none!important; width: 100%!important;
      margin-bottom: call(get-function($function), 10px);
      &_h3 {
        padding-top: call(get-function($function), 5px);
      }
    }
  }
  .catalog_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: call(get-function($function), 24px);
    width: call(get-function($function), 25px);
    background-color: #fff;
    border: call(get-function($function), 1.7px) solid #D1D1D1;
    border-radius: call(get-function($function), 5px);
  }
  .catalog_checkbox:hover input ~ .checkmark_checkbox {
    background-color: #ccc;
  }
  .catalog_checkbox input:checked ~ .checkmark_checkbox {
    background-color: #D50032;
    border: none;
  }
  .checkmark_checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  .catalog_checkbox input:checked ~ .checkmark_checkbox:after {
    display: block;
  }
  .catalog_checkbox .checkmark_checkbox:after {
    content: '';
    position: absolute;
    left: call(get-function($function), 8px);
    top: call(get-function($function), 1.7px);
    width: call(get-function($function), 9px);
    height: call(get-function($function), 15px);
    border: solid white;
    border-width: 0 call(get-function($function), 2px) call(get-function($function), 2px) 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
  .filter_btn {
    display: block;
    border: none;
    color: #fff;
    background: #D50032;
    width: 100%;
    min-height: get-vw-1024(48px);
    background: #D50032;
    border-radius: get-vw-1024(100px);
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    &:focus {
      outline: none;
    }
  }
  .catalog__title_filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog__title_filter__news {
    margin-top: get-vw-1024(10px);
    margin-bottom: get-vw-1024(10px);
    width: 100%;
  }
  .catalog__title_filter__price {
    width: 100%;
  }
  .catalog__title_filter__populate {
    width: 100%;
  }

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {
  .prev, .next {
      display: none;
  }
  .catalog__pagination_descr {
    flex-direction: column;
  }
  .catalog__pagination_descr__result h3 {
    padding-top: get-vw-480(45px);
  }
  .filter_btn {
    width: 55%;
  }
}
@media screen and (max-width: 360px) {
  .filter_btn {
    width: 70%;
  }
  .catalog_label h3 {
      font-size: 9px;
  }
  .catalog__pagination_descr__links ul li {
    padding-top: 5px;
    margin-right: 0px;
  }
}
