@mixin checkout($function) {
    .checkout{
        .checkout-left{
            .checkout-top{
                border: call(get-function($function), 2px) solid #EFF0F5;
                border-bottom: none ;
                padding-left: call(get-function($function), 30px);
                border-top-left-radius: call(get-function($function), 27px);
                border-top-right-radius: call(get-function($function), 27px);
                ul{
                    height: call(get-function($function), 103px);
                    display: flex;
                    align-items: center;
                    border: none !important;
                    .nav-item{
                        width: call(get-function($function), 156px);
                        height: call(get-function($function), 48px);
                        border-radius:call(get-function($function), 100px);
                        .nav-link{
                            text-align: center;
                            font-size:call(get-function($function), 15px);
                            line-height: call(get-function($function), 14px);
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: 'Gotham Pro Bold';
                            border-radius:call(get-function($function), 100px);
                            border: call(get-function($function), 1px) solid #D50032;
                            color: #000;
                            margin-right:call(get-function($function), 20px) ;
                        }
                        .active{
                            background: #D50032 !important;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .checkout-medium{
                padding: call(get-function($function), 26px) call(get-function($function), 30px);
                border: call(get-function($function), 2px) solid #EFF0F5;
                border-bottom-left-radius: call(get-function($function), 27px);
                border-bottom-right-radius: call(get-function($function), 27px);
                .basket-content{
                    padding-bottom: call(get-function($function), 15px);
                    margin-bottom: 0;
                    .checkout-select{
                        position: relative;
                        margin-bottom: call(get-function($function), 20px);

                        &::before{
                            content: '';
                            background-image: url(../../assets/img/arrow.png);
                            background-repeat: no-repeat;
                            width: call(get-function($function), 20px);
                            height: call(get-function($function), 10px);
                            display: block;
                            position: absolute;
                            top: call(get-function($function), 22px);
                            right: call(get-function($function), 20px);
                        }
                    }
                    select{
                        width: 100%;
                        height: call(get-function($function), 48px);
                        border: 1px solid #C8C9CC;
                        box-sizing: border-box;
                        border-radius: 100px;
                        padding-left: call(get-function($function), 20px);
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }
                    textarea{
                        width: 100%;
                        height: call(get-function($function), 144px);
                        border: 1px solid #C8C9CC;
                        border-radius:call(get-function($function), 24px);
                        resize: none;
                        padding-top: call(get-function($function), 14px);
                        padding-left: call(get-function($function), 30px);
                    }

                }
                .checkout-btn{
                    margin-top: call(get-function($function), 30px);
                    height: call(get-function($function), 48px);
                    background: #D50032;
                    border-radius: call(get-function($function), 100px);
                    button {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: call(get-function($function), 15px);
                        line-height: call(get-function($function), 14px);
                        color: #FFFFFF;
                        background: #D50032;
                        border-radius: call(get-function($function), 100px);
                        border: none;
                    }
                }
                .checkout-border{
                    border-bottom: call(get-function($function), 1px) solid #EFF0F5;
                }
                .tab-content{
                     .product-name{
                         height: fit-content !important;
                         margin-bottom: call(get-function($function), 25px);
                     }
                }
                .checkout-content{
                    input{
                        border: call(get-function($function), 1px) solid #C8C9CC;
                        border-radius: call(get-function($function), 100px);
                        height: call(get-function($function), 48px);
                        width: 100%;
                        margin-bottom: call(get-function($function), 20px);
                        padding-left: call(get-function($function), 20px);
                    }
                    .checkout-num{
                        position: relative;
                        span{
                            position: absolute;
                            top: call(get-function($function), 13px);
                            left: call(get-function($function), 24px);
                            font-size: call(get-function($function), 16px);
                            line-height: call(get-function($function), 20px);
                            color: #8F9195;
                        }
                        &::before{
                            content: '';
                            height: call(get-function($function), 48px);
                            width:call(get-function($function), 1px);
                            background: #C8C9CC;
                            position: absolute;
                            top: 0;
                            left: call(get-function($function), 50px);
                        }
                        input{
                            padding-left: call(get-function($function), 59px);
                        }
                    }
                }
                .checkout-address{
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: call(get-function($function), 100px);
                        padding-left: call(get-function($function), 20px);
                    }
                }
            }
            .checkout-pay{
                .pay-method{
                    display: flex;
                    padding-bottom: call(get-function($function), 15px);
                    .catalog_label{
                        justify-content: flex-start;
                        padding-left: call(get-function($function), 46px);
                        min-width: call(get-function($function), 195px);
                        .checkmark{
                            &::after{
                                background-color: #D50032;
                                top: call(get-function($function), 5px);
                                left: call(get-function($function), 6px);
                                width: call(get-function($function), 12px);
                                height: call(get-function($function), 12px);
                            }
                        }
                        h2{
                            font-size: call(get-function($function), 14px);
                            line-height: 125.7%;
                            color: #8F9195;
                            font-family: 'Gotham Pro';
                        }
                    }
                }
            }
        }
        .checkout-right{
            padding: call(get-function($function), 30px);
            padding-bottom: 0;
            border: call(get-function($function), 2px) solid #EFF0F5;
            border-bottom: none ;
            padding-left: call(get-function($function), 30px);
            border-top-left-radius: call(get-function($function), 27px);
            border-top-right-radius: call(get-function($function), 27px);
            .checkout-item{
                padding-bottom: call(get-function($function), 30px);
            }
            .checkout-image{
                width: call(get-function($function), 73px);
                height: call(get-function($function), 73px);
                border: call(get-function($function), 1px) solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: call(get-function($function), 8px);
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: call(get-function($function), 45px);
                    height: call(get-function($function), 50px);
                }
            }
            .order-inner{
                display: flex;
                flex-direction: column;
                h1{
                    font-size:  call(get-function($function), 16px);
                    line-height:  call(get-function($function), 20px);
                    color: #333D4D;
                    font-family: 'Gotham Pro';
                    margin-bottom: call(get-function($function), 7px);
                }
                .order-content{
                    display: flex;
                    span{
                        font-size: call(get-function($function), 16px);
                        line-height: call(get-function($function), 20px);
                        color: #8F9195;
                    }
                    p{
                        font-size: call(get-function($function), 16px);
                        line-height: 125.7%;
                        color: #333D4D;
                        margin-left: call(get-function($function), 13px);
                        font-family: 'Gotham Pro Bold';
                    }
                }
            }
        }
        .checkout-right-bottom{
            padding: call(get-function($function), 27px) call(get-function($function), 30px);
            border: call(get-function($function), 2px) solid #EFF0F5;
            border-bottom-left-radius: call(get-function($function), 27px);
            border-bottom-right-radius: call(get-function($function), 27px);
            .basket-price-inner{
                height: call(get-function($function), 73px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .total-price{
                    span{
                        color: #D50032 !important;
                    }
                }
                .price-left{
                    p{
                        font-size: call(get-function($function), 16px);
                        line-height: call(get-function($function), 20px);
                        color: #8F9195;
                        font-family: 'Gotham Pro';
                        margin-bottom: 0;
                    }
                }
                .price-right{
                    span{
                        font-size: call(get-function($function), 16px);
                        line-height: 125.7%;
                        color: #333D4D;
                        font-family: 'Gotham Pro Bold';
                    }
                }
            }
            .price-num{
                border-bottom: call(get-function($function), 1px) solid #C8C9CC;
            }
        }
    }
}

.pay-method .catalog_label input:checked ~ .checkmark{
    background-color: #FFFFFF;
    border: 1px solid #D50032;
}




@media screen and (max-width: 1024px) {
    .catalog__title_filter {
      flex-direction: column;
      align-items: flex-start;
    }
    .catalog__title {
      flex-direction: column;
      align-items: flex-start;
    }
    .catalog__title_filter__news {
      margin-top: get-vw-1024(10px);
      margin-bottom: get-vw-1024(10px);
    }
  }
  @media screen and (min-width: 768px) and (max-width:1024px){
    .basket {
        .basket-content {
            .product-name {
                h3{
                    text-align: center;
                }
            }
        }
    }

  }
  @media screen and (max-width: 600px) {

  }
  @media screen and (max-width: 480px) {
    .checkout {
        .checkout-left {
            .checkout-top{
                padding-left: get-vw-480(9px);
            }
            .checkout-pay {
                .pay-method{
                    flex-direction: column;
                    .catalog_label{
                        margin-bottom: get-vw-480(10px);
                    }
                }
            }
            .checkout-medium{
                padding: get-vw-480(15px) get-vw-480(10px);
            }
        }
    }
  }
  @media screen and (max-width: 360px) {

  }
