@mixin client($function) {
  .client {
    background: #fff;
    &__wrapper {
      &__payment {
        padding-bottom: call(get-function($function), 60px);
        border-bottom: 1px solid #EFF0F5;
        h2 {
          padding-top: call(get-function($function), 45px);
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
          padding-bottom: call(get-function($function), 20px);
        }
        &__block {
          display: flex;
          align-items: center;
        }
        &__item {
          margin-right: call(get-function($function), 15px);
          min-height: call(get-function($function), 205px);
          border-bottom: call(get-function($function), 4px) solid #D50032;
          h3 {
            font-family: 'Gotham Pro';
            font-weight: 800;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #000000;
            padding-bottom: call(get-function($function), 10px);
          }
          p {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #151515;
            margin: 0;
          }
          &__img {
            width: call(get-function($function), 114px);
            height: call(get-function($function), 60px);
            border: 1px solid #EFF0F5;
            box-sizing: border-box;
            border-radius: call(get-function($function), 4px);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: call(get-function($function), 15px);
            margin-bottom: call(get-function($function), 15px);
            img {
              object-fit: contain;
              width: call(get-function($function), 75px);
              height: call(get-function($function), 30px);
            }
            &:nth-child(3) {
              margin-right: 0px;
            }
          }
          &__wrap {
            display: flex;
            width: call(get-function($function), 375px);
            flex-wrap: wrap;
          }
        }
      }
      &__delivery {
        padding-bottom: call(get-function($function), 60px);
        border-bottom: 1px solid #EFF0F5;
        h2 {
          padding-top: call(get-function($function), 45px);
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
          padding-bottom: call(get-function($function), 20px);
        }
        p {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #151515;
        }
        &__wrap {
          background: #EFF0F5;
          padding-left: call(get-function($function), 32px);
          padding-right: call(get-function($function), 30px);
          padding-top: call(get-function($function), 25px);
          padding-bottom: call(get-function($function), 25px);
          position: relative;
          &::after {
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            width: call(get-function($function), 4px);
            height: 100%;
            background: #D50032;
          }
          span {
            font-family: 'Gotham Pro';
            font-style: italic;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #151515;
          }
        }
      }
      &__map {
        padding-bottom: call(get-function($function), 60px);
        border-bottom: 1px solid #EFF0F5;
        h2 {
          padding-top: call(get-function($function), 45px);
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
          padding-bottom: call(get-function($function), 20px);
        }
        p {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #151515;
        }
        &_content {
          margin-top: call(get-function($function), 100px);
          width: 100%;
          min-height: call(get-function($function), 400px);
          border-radius: call(get-function($function), 20px);
        }
        &__select {
          position: relative;
          &::before {
            content: '';
            background-image: url('../../assets/img/arrow.png');
            background-repeat: no-repeat;
            width: call(get-function($function), 18px);
            height: call(get-function($function), 10px);
            display: block;
            position: absolute;
            top: 1.14583vw;
            right: call(get-function($function), 25px);
          }
          select {
            width: 100%;
            height: 2.5vw;
            border: 1px solid #C8C9CC;
            box-sizing: border-box;
            border-radius: call(get-function($function), 100px);
            padding-left: 1.5625vw;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:focus {
              outline: none;
            }
          }
        }
        &__geo {
          display: flex;
          margin-top: call(get-function($function), 25px);
          &_img {
            margin-right: call(get-function($function), 19px);
            img {
              width: call(get-function($function), 18px);
              height: call(get-function($function), 22px);
            }
          }
          &_descr {
            p {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 14px);
              line-height: 125.7%;
              color: #8F9195;
              margin: 0;
              padding-bottom: call(get-function($function), 16px);
            }
          }
        }
      }
      &__return {
        &__stage {
          height: 100%;
          width: call(get-function($function), 289px);
          border-bottom: call(get-function($function), 4px) solid #D50032;
          margin-bottom: call(get-function($function), 36px);
          h3 {
            font-family: 'Gotham Pro';
            font-weight: 800;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #D50032;
          }
          span {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #151515;
            padding-bottom: call(get-function($function), 34px);
          }
          &__wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
          }
        }
        h2 {
          padding-top: call(get-function($function), 45px);
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
          padding-bottom: call(get-function($function), 20px);
        }
        p {
          line-height: call(get-function($function), 20px);
          color: #151515;
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          margin: 0;
          padding-bottom: call(get-function($function), 16px);
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
  .client__wrapper__payment__block {
    flex-direction: column;
  }
  .client__wrapper__payment__item {
    margin-top: get-vw-1024(35px);
  }
  .client__wrapper__return__stage__wrap {
    flex-direction: column;
    align-items: flex-start!important;
  }
  .client__wrapper__map__select select {
    height: 100%!important;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {
  .client__wrapper__payment__item {
    width: 100%;
  }
  .client__wrapper__payment__item__img {
    margin-right: get-vw-360(5px)!important;
  }
  .client__wrapper__payment__item__wrap {
    width: 100%!important;
    justify-content: center;
  }
  .client__wrapper__map__select::before {
    top: get-vw-360(10px)!important;
  }
}
