@mixin all($function) {
.header_top__geo {
    display: flex;
    flex-direction: column;
    position: relative;
    &:hover {
        .cityname_list__item {
            display: flex;
        }
    }
}
.bank_input {
    position: relative;
    .bank_dropdown {
        display: none;
        &__item {
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    &:hover {
        .bank_dropdown {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            background: #fff;
            width: 100%;
            &__item {
                &:hover {
                    background: #ccc;
                }
            }
        }
    }
}

.cityname__wrap {
    display: flex;
    align-items: center;
}
.cityname_list__item {
    display: none;
}
.cityname_list {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 130%;
    width: 100%;
    border-radius: 3px;
}

.cityname_list__item {
    padding: 7px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
        background: #ccc;
    }
}

  .slick-list {
    overflow: visible!important;
  }
  .home_slider_wrap>.slick-dots {
    text-align: left;
    bottom: call(get-function($function), 25px);
    padding-left: call(get-function($function), 375px);
    width: 26%;
    display: flex;
    justify-content: space-between;
    li.slick-active button:before {
      content: '';
      background: #D50032;
      border-radius:  call(get-function($function), 100px);
      width: call(get-function($function), 77px);
      height: call(get-function($function), 6px);
    }
    li button:before {
      content: '';
      background: #333D4D;
      border-radius: call(get-function($function), 100px);
      width: call(get-function($function), 6px);
      height: call(get-function($function), 6px);
    }
  }
  .home_slider {
    background: #EFF0F5;
    min-height: call(get-function($function), 500px);
    display: flex!important;
    align-items: center;
    width: 100vw!important;
    &__descr {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-family: 'Gotham Pro Bold';
        font-size: call(get-function($function), 45px);
        line-height: call(get-function($function), 53px);
        color: #333D4D;
      }
      h3 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 20px);
        line-height: call(get-function($function), 19px);
        color: #333D4D;
        padding-top: call(get-function($function), 18px);
        padding-bottom: call(get-function($function), 26px);
      }
      a {
        background: #D50032;
        box-shadow: 0px call(get-function($function), 10px) call(get-function($function), 20px) rgba(213, 0, 50, 0.2);
        border-radius: call(get-function($function), 100px);
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 15px);
        line-height: call(get-function($function), 14px);
        color: #FFFFFF;
        padding: call(get-function($function), 17px) call(get-function($function), 40px);
        width: call(get-function($function), 198px);
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
    &_descr__oval {
      position: absolute;
      right: 0;
      top: 0;
    }
    &__oval {
      min-height: call(get-function($function), 550px);
      width: call(get-function($function), 1030px);
      // border-radius: 27% 0% 100% 59% / 87% 30% 90% 68%;
      border-radius: 50% 0% 108% 47% / 71% 30% 90% 74%;
      background: red;
      position: absolute;
      top: call(get-function($function), -110px);
      left: call(get-function($function), 8.5px);
      img {
        width: call(get-function($function), 1020px);
        height: 100%;
        border-radius: 24% 0% 100% 65% / 75% 30% 90% 85%;
      }
    }
  }
  main {
    overflow: hidden;
  }
  .our_tehnical {
    min-height: call(get-function($function), 755px);
    &__title {
      padding-top: call(get-function($function), 100px);
      padding-bottom: call(get-function($function), 45px);
      h3 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 28px);
        line-height: call(get-function($function), 27px);
        color: #333D4D;
      }
    }
    &__links {
      padding-bottom: call(get-function($function), 75px);
      &_item {
        background: #F3F4F8;
        border-radius: call(get-function($function), 27px);
        width: call(get-function($function), 277px)!important;
        min-height: call(get-function($function), 217px);
        position: relative;
        margin-top: call(get-function($function), 45px);
        padding: 0;
        .hover_img {
          display: none;
        }
        &:hover {
          text-decoration: none;
          background: #FFFFFF;
          border: call(get-function($function),  1.5px) solid #EFF0F5;
          box-sizing: border-box;
          box-shadow: 0px call(get-function($function), 31px)  call(get-function($function), 20px)  call(get-function($function), -10px)  rgba(32, 41, 54, 0.13);
          .our_tehnical__links_item__img {
            display: none;
          }
          .our_tehnical__links_item__img_active {
            display: block;
            width: call(get-function($function), 98px);
            min-height: call(get-function($function), 98px);
            margin-bottom: call(get-function($function), 32px);
            margin-top: call(get-function($function), 40px);
          }
          &__wrap {
            z-index: 3;
          }
          .our_tehnical__links_item__descr span {
            color: #D50032!important;
          }
          .hover_img {
            display: block;
            width: call(get-function($function), 158px);
            min-height: call(get-function($function), 256px);
            background: #D50032;
            position: absolute;
            z-index: -1;
            top: -5%;
            left: 22%;
          }
        }
        &__row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
        }
        &__wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &__number {
          width: call(get-function($function), 36px);
          height: call(get-function($function), 23px);
          background: #D50032;
          border-radius: call(get-function($function), 20px);
          position: absolute;
          top: call(get-function($function), 11px);
          right: call(get-function($function), 14px);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 15px);
            color: #FFFFFF;
          }
        }
        &__img {
          width: call(get-function($function), 98px);
          min-height: call(get-function($function), 98px);
          margin-bottom: call(get-function($function), 32px);
          margin-top: call(get-function($function), 40px);
        }
        &__img_active {
          display: none;
        }
        &__descr {
          display: flex;
          align-items: center;
          margin-bottom: call(get-function($function), 27px);
          span {
            font-family: 'Gotham Pro Bold';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 15px);
            color: #333D4D;
            margin: call(get-function($function), 5px) 0px;
            padding-right: call(get-function($function), 6px);
          }
          img {
            width: call(get-function($function), 8px);
            height: call(get-function($function), 9px);
          }
        }
      }
    }
  }
  .discount {
    min-height: call(get-function($function), 332px);
    width: 100%;
    background: #D50032;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__descr {
      min-height: call(get-function($function), 332px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      &_h4 {
        background: #FFFFFF;
        border-radius: call(get-function($function), 20px);
        width: 100%;
        &:hover {
          text-decoration: none;
        }
      }
      h3 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 42px);
        line-height: 117.7%;
        letter-spacing: 0.15em;
        color: #FFFFFF;
      }
      h2 {
        font-family: 'Gotham Pro Bold';
        font-weight: 900;
        font-size: call(get-function($function), 68px);
        line-height: 117.7%;
        color: #FFFFFF;
      }
      h4 {
        font-family: 'Gotham Pro Bold';
        font-size: call(get-function($function), 25px) ;
        line-height: 117.7%;
        color: #333D4D;
        padding-left: call(get-function($function), 30px);
        padding-bottom: call(get-function($function), 20px);
        padding-top: call(get-function($function), 20px);
        margin: 0;
      }
    }
    &__img {
      transform: rotate(16.43deg);
      width: 100%;
      min-height: call(get-function($function), 328px);
      margin-top: call(get-function($function), -45px);
      margin-left: call(get-function($function), 35px);
      img {
        border-radius: call(get-function($function), 62px);
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .recommendation_product {
    background-color: #EFF0F5;
    width: 100%;
    min-height: call(get-function($function), 1400px);
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: call(get-function($function), 100px);
      h3 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 28px);
        line-height: call(get-function($function), 27px);
        color: #333D4D;
        margin: 0;
      }
      a {
        span {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 13px);
          color: #D50032;
        }
        img {
          width: call(get-function($function), 8px);
          height: call(get-function($function), 8px);
        }
      }
    }
    &__descr {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      &__item {
        background: #FFFFFF;
        border: call(get-function($function), 1px) solid #C8C9CC;
        box-sizing: border-box;
        border-radius: call(get-function($function), 27px);
        padding: call(get-function($function), 26px);
        width: call(get-function($function), 283px);
        position: relative;
        flex: 0 0 24%;
        margin-top: call(get-function($function), 30px);
        margin-bottom: call(get-function($function), 10px);
        &:hover {
          text-decoration: none;
          box-shadow: 0px call(get-function($function), 31px) call(get-function($function), 20px) call(get-function($function), -10px) rgba(32, 41, 54, 0.13),
                      0px call(get-function($function), -20px) call(get-function($function), 20px) call(get-function($function), -10px) rgba(32, 41, 54, 0.13);
        }
        &_icon {
          position: absolute;
          top: 2%;
          right: 5%;
          background: #D50032;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: call(get-function($function), 32px);
          height: call(get-function($function), 32px);
          img {
            width: call(get-function($function), 20px);
            height: call(get-function($function), 20px);
          }
        }
        &_icon_2 {
            position: absolute;
            top: -1px;
            right: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: call(get-function($function), 60px);
            height: call(get-function($function), 60px);
            img {
               width: 100%;
               height: 100%;
            }
        }
        &_img {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            min-height: call(get-function($function), 200px);
            object-fit: contain;
          }
        }
        &_text {
            height: 185px;
          span {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 12px);
            line-height: 125.7%;
            color: #8F9195;
            padding-top: call(get-function($function), 25px);
          }
          h3 {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 20px);
            color: #333D4D;
            padding-top: call(get-function($function), 12px);
            padding-bottom: call(get-function($function), 12px);
            margin: 0;
          }
          &__price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .now_price {
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 16px);
              line-height: 125.7%;
              color: #D50032;
            }
            .old_price {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 16px);
              line-height: call(get-function($function), 20px);
              text-decoration-line: line-through;
              color: #8F9195;
            }
          }
          &__status {
            h3 {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 12px);
              line-height: 125.7%;
              color: #8F9195;
              padding-top: call(get-function($function), 25px);
              margin: 0;
            }
          }
        }
        &_btn {
          border: call(get-function($function), 1.5px) solid #D50032;
          box-sizing: border-box;
          border-radius: call(get-function($function), 100px);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: call(get-function($function), 17px);
          padding-bottom: call(get-function($function), 17px);
          background: #fff;
          &:focus {
            outline: none;
          }
          .cart_noactive {
            display: block;
          }
          .cart_active {
            display: none;
          }
          img {
            width: call(get-function($function), 26px);
          }
          span {
            font-family: 'Gotham Pro Bold';
            font-size: call(get-function($function), 15px);
            line-height: call(get-function($function), 14px);
            color: #D50032;
            padding-left: call(get-function($function), 12px);
          }
          &:hover {
            background: #D50032;
            text-decoration: none;
            span {
              color: #fff;
            }
            .cart_active {
              display: block;
            }
            .cart_noactive {
              display: none;
            }
          }
        }
      }
    }
  }
  .home_bottom {
    min-height: call(get-function($function), 922px);
    display: flex;
    align-items: center;
    &__img {
      width: call(get-function($function), 492px);
      height: call(get-function($function), 710px);
      position: relative;
      &::before {
        content: '';
        position: absolute;
        height: call(get-function($function), 12px);
        width: call(get-function($function), 302px);
        top: call(get-function($function), -12px);
        right:  call(get-function($function), 54px);
        background: #D50032;
      }
      &::after {
        content: '';
        position: absolute;
        width: call(get-function($function), 12px);
        min-height: call(get-function($function), 440px);
        background: #D50032;
        top: call(get-function($function), 122px);
        left: call(get-function($function), -12px);
      }
      img {
        width: 100%;
        height: 100%;
          object-fit: cover;
          border-radius: call(get_function($function), 30px);
      }
    }
    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: call(get-function($function), 710px);
      h3 {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 28px);
        line-height: call(get-function($function), 38px);
        text-transform: uppercase;
        color: #333D4D;
        margin: 0;
      }
      p {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 16px);
        line-height: call(get-function($function), 20px);
        color: #333D4D;
        padding-top: call(get-function($function), 33px);
        padding-bottom: call(get-function($function), 33px);
      }
      a {
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 15px);
        line-height: call(get-function($function), 14px);
        color: #D50032;
        border: 1.5px solid #D50032;
        width: call(get-function($function), 182px);
        min-height: call(get-function($function), 48px);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: call(get-function($function), 100px);
        &:hover {
          text-decoration: none;
          background: #D50032;
          color: #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .home_slider__oval {
    left: get-vw-1440(28.5px);
    top: get-vw-1440(-126px);
    border-radius: 50% 0% 100% 60% / 71% 30% 90% 74%;
  }
  .home_slider__oval, .home_slider__oval img {
    width: get-vw-1440(798px);
  }
  .home_slider__oval > img{
    min-height: get-vw-1440(535px);
  }
  .home_slider_wrap > .slick-dots {
    padding-left: get-vw-1440(165px);
  }
}
@media screen and (max-width: 1200px) {
  .home_slider__oval, .home_slider__oval img {
    width: get-vw-1200(668px);
  }
}
@media screen and (max-width: 1024px) {
  .home_slider__oval, .home_slider__oval img {
    width: get-vw-1024(400px);
  }
  .home_bottom__img img {
    width: 95%;
  }
  .home_slider__oval, .home_slider__oval img {
    width: 100%;
    height: 98%;
  }
  .recommendation_product__descr {
    padding-bottom: get-vw-1024(50px);
    margin-left: 0px!important;
  }
  .home_slider_wrap > .slick-dots {
    display: none!important;
  }
  .recommendation_product__descr {
    justify-content: center!important;
  }
  .catalog__title_filter {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hover_img {
    display: none!important;
  }
  header .header_top__find input {
    width: 100%;
  }
  .home_slider__descr h2 {
    font-size: get-vw-768(40px);
  }
  .home_slider {
    min-height: get-vw-768(750px);
    align-items: flex-start;
  }
  .home_slider__descr {
    justify-content: flex-start;
    margin-top: get-vw-768(100px);
  }
  .home_slider__oval {
    top: 0px;
    background: none;
    min-height: get-vw-768(300px);
    margin-top: get-vw-768(50px);
  }
  .home_slider__oval img {
    width: 100%;
    margin-left: get-vw-768(0px);
  }
  .home_slider__oval, .home_slider__oval img {
    width: 98%;
    border-radius: 0;
  }
  .our_tehnical__links_item {
    width: 100%!important;
  }
  .our_tehnical__title {
    padding-top: get-vw-768(50px);
    padding-bottom: get-vw-768(25px);
  }
  .recommendation_product {
    padding-bottom: get-vw-768(50px);
  }
  .recommendation_product__descr__item {
    width: 48%;
  }
  .discount__img {
    margin-top: get-vw-768(50px);
  }
  .home_bottom__img {
    margin-top: get-vw-768(50px);
    margin: 0 auto;
  }
  .home_bottom__descr {
    min-height: get-vw-768(400px);
  }
  .footer__wrap {
    display: flex;
    justify-content: center;
  }
  .footer__logo {
    text-align: center;
    min-height: get-vw-768(100px);
    margin-top: get-vw-768(30px);
  }
  .footer__descr {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: get-vw-768(35px);
    margin-bottom: get-vw-768(35px);
  }
  .home_bottom__img {
    min-height: get-vw-768(500px);
    padding-top: get-vw-768(50px);
    padding-bottom: get-vw-768(50px);
    width: 100%;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  .home_bottom__descr {
    padding-bottom: get-vw-768(50px);
  }
  .footer__soc ul {
    padding-left: 0px;
  }
  .home_slider_wrap > .slick-dots {
    padding-left: get-vw-768(50px);
  }
}
@media screen and (max-width: 600px) {
  .recommendation_product__descr__item {
    width: 100%;
  }
  .our_tehnical__links_item {
    width: 100%!important;
  }
}
@media screen and (max-width: 480px) {
  .our_tehnical__links_item__wrap {
    padding: get-vw-480(25px);
  }
  .our_tehnical__links_item__descr {
    margin-bottom: get-vw-480(10px);
  }
  .discount__img {
    margin-left: 0px;
    min-height: get-vw-480(300px);
    margin-top: get-vw-480(50px);
  }
  .recommendation_product__title {
    flex-direction: column;
  }
  .home_slider {
    min-height: get-vw-480(650px);
  }
  .home_slider__oval, .home_slider__oval img {
    width: 95%;
  }
  .home_slider__oval img {
    margin-left: 0px;
  }
  .recommendation_product__descr__item {
    flex: 0 0 100%!important;
  }
  .recommendation_product__descr__item_img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 360px) {
  .home_slider {
    min-height: get-vw-360(600px);
  }
}
