@mixin outlet($function) {
  .outlet__item_wrap {
    padding-top: call(get-function($function), 40px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .outlet {
    background: #fff;
    &__img {
        width: 100%;
        height: call(get-function($function), 414px);
    }
    &_top {
        display: flex;
        align-items: center;
        &__icon {
            width: call(get-function($function), 32px);
            height: call(get-function($function), 32px);
            background: #D50032;
            border-radius: call(get-function($function), 20px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__title {
            h3 {
                font-family: 'Gotham Pro';
                font-size: call(get-function($function), 18px);
                line-height: call(get-function($function), 24px);
                color: #000000;
                margin: 0;
                padding-left: call(get-function($function), 10px);
                padding-right: call(get-function($function), 10px);
            }
        }
        &__date {
            display: flex;
            h3 {
                font-family: 'Gotham Pro';
                font-size: call(get-function($function), 18px);
                line-height: call(get-function($function), 24px);
                color: #8F9195;
                margin: 0;
            }
        }
    }
    &_content {
        h3 {
            font-family: 'Gotham Pro Bold';
            font-size: call(get-function($function), 28px);
            line-height: call(get-function($function), 38px);
            color: #333D4D;
            padding-top: call(get-function($function), 23px);
            padding-bottom: call(get-function($function), 15px);
        }
        p {
            font-style: italic;
            font-weight: 500;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            color: #151515;
            padding-top: call(get-function($function), 15px);
            padding-bottom: call(get-function($function), 25px);
        }
        a {
            background: #D50032;
            border: call(get-function($function), 1.5px) solid #D50032;
            box-sizing: border-box;
            border-radius: call(get-function($function), 100px);
            color: #fff;
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 15px);
            line-height: call(get-function($function), 14px);
            padding: call(get-function($function), 15px) call(get-function($function), 40px);
            margin-bottom: call(get-function($function), 15px);
        }
    }
    &__item {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #EFF0F5;
      box-sizing: border-box;
      width: 50%;
      margin-right: call(get-function($function), -20px);
      min-height: call(get-function($function), 200px);
      margin-bottom: call(get-function($function), 20px);
      &__block {
        width: 50%;
        min-height: call(get-function($function), 200px);
      }
      &__descr {
        padding-left: call(get-function($function), 30px);
        padding-right: call(get-function($function), 30px);
        padding-top: call(get-function($function), 25px);
        h2 {
          font-family: 'Gotham Pro Bold';
          font-size: call(get-function($function), 16px);
          line-height: call(get-function($function), 24px);
          color: #000000;
          margin: 0;
          padding-bottom: call(get-function($function), 40px);
        }
        h3 {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #151515;
          margin: 0;
        }
        span {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: 125.7%;
          color: #8F9195;
        }
      }
      &__img {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: call(get-function($function), 200px);
        position: relative;
        &_discount {
          position: absolute;
          top: call(get-function($function), 15px);
          right: call(get-function($function), 15px);
          width: call(get-function($function), 32px);
          height: call(get-function($function), 32px);
          background: #D50032;
          border-radius: call(get-function($function), 20px);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: call(get-function($function), 22px);
            height: call(get-function($function), 22px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {
    .outlet__img {
        margin-top: get-vw-600(25px);
    }
    .outlet__item {
        width: 100%!important;
    }
    .outlet__item_wrap {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}
