@mixin partners($function) {
  .partners__form_wrap {
    padding-left: call(get-function($function), 30px)!important;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: unset;
    background-color: transparent!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 0.3rem;
    outline: 0;
  }
  .partners {
    background: #fff;
    &_modal {
      &__wrap {
        background: #FFFFFF;
        border: call(get-function($function), 2px) solid #EFF0F5;
        box-sizing: border-box;
        border-radius: call(get-function($function), 27px);
      }
      &__block {
        padding: call(get-function($function), 35px);
        &__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 28px);
            line-height: call(get-function($function), 38px);
            color: #333D4D;
            margin: 0;
          }
          img {
            width: call(get-function($function), 16px);
            height: call(get-function($function), 16px);
            cursor: pointer;
          }
        }
        &__form {
          form {
            display: flex;
            flex-direction: column;
            padding-top: call(get-function($function), 35px);
            textarea {
              border: call(get-function($function), 1px) solid #C8C9CC;
              box-sizing: border-box;
              border-radius: call(get-function($function), 25px);
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 16px);
              line-height: call(get-function($function), 20px);
              min-height: call(get-function($function), 100px);
              padding-left: call(get-function($function), 15px);
              padding-top: call(get-function($function), 15px);
              margin-bottom: call(get-function($function), 15px);
              color: #8F9195;
              &:focus {
                  outline: none;
              }
            }
            input {
              margin-bottom: call(get-function($function), 20px);
              border: call(get-function($function), 1px) solid #C8C9CC;
              box-sizing: border-box;
              border-radius: call(get-function($function), 100px);
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 16px);
              line-height: call(get-function($function), 20px);
              min-height: call(get-function($function), 48px);
              padding-left: call(get-function($function), 30px);
              color: #8F9195;
              &:focus {
                outline: none;
              }
            }
            button {
              border: none;
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 15px);
              line-height: call(get-function($function), 14px);
              color: #FFFFFF;
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: call(get-function($function), 48px);
              background: #D50032;
              border: call(get-function($function), 1.5px) solid #D50032;
              box-sizing: border-box;
              border-radius: call(get-function($function), 100px);
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    &__title {
      display: flex;
      align-items: center;
      &_btn {
        margin-left: call(get-function($function), 30px);
        border: call(get-function($function), 1px) solid #D50032;
        box-sizing: border-box;
        border-radius: call(get-function($function), 100px);
        font-family: 'Gotham Pro';
        font-size: call(get-function($function), 15px);
        line-height: call(get-function($function), 14px);
        color: #000000;
        padding: call(get-function($function), 18px) call(get-function($function), 28px);
        &:hover {
          text-decoration: none;
        }
      }
        &_btn_no {
            margin-left: call(get-function($function), 30px);
            border: call(get-function($function), 1px) solid #D50032;
            box-sizing: border-box;
            border-radius: call(get-function($function), 100px);
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 15px);
            line-height: call(get-function($function), 14px);
            color: #000000;
            padding: call(get-function($function), 18px) call(get-function($function), 28px);
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__arrow {
      margin-left: call(get-function($function), 30px);
    }
    &__descr {
      padding-top: call(get-function($function), 45px);
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        background: #EFF0F5;
        height: 1px;
        left: 0;
        bottom: call(get-function($function), -50px);
      }
      &__title {
        h3 {
          font-family: 'Gotham Pro';
          font-weight: 600;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
        }
      }
      &__item {
        position: relative;
        padding-right: 0px!important;
        min-height: call(get-function($function), 130px);
        padding-top: call(get-function($function), 30px);
        h3 {
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #000000;
        }
        p {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #151515;
        }
        &__line {
          height: call(get-function($function), 4px);
          background: #D50032;
          position: absolute;
          bottom: 0px;
          width: 90%;
        }
      }
      &__text {
        padding-top: call(get-function($function), 100px);
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          background: #EFF0F5;
          height: 1px;
          left: 0;
          bottom: call(get-function($function), -50px);
        }
        h3 {
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 24px);
          color: #000000;
        }
        p {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #151515;
        }
        span {
          font-family: 'Gotham Pro';
          font-weight: 800;
          font-size: call(get-function($function), 14px);
          line-height: call(get-function($function), 20px);
          color: #D50032;
          margin-top: call(get-function($function), 20px);
          padding-bottom: call(get-function($function), 10px);
        }
        &_bottom {
          background: #EFF0F5;
          padding: call(get-function($function), 30px);
          position: relative;
          p {
            font-family: 'Gotham Pro';
            font-style: italic;
            font-size: call(get-function($function), 14px);
            line-height: call(get-function($function), 20px);
            margin: 0;
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: call(get-function($function), 4px);
            height: 100%;
            background: #D50032;
          }
        }
      }
    }
    &__form {
      padding-top: call(get-function($function), 50px);
      form {
        border: call(get-function($function), 2px) solid #EFF0F5;
        box-sizing: border-box;
        border-radius: call(get-function($function), 27px);
        min-height: call(get-function($function), 392px);
        width: call(get-function($function), 448px);
        padding: call(get-function($function), 30px);
        input {
          border: call(get-function($function), 1px) solid #C8C9CC;
          box-sizing: border-box;
          border-radius: call(get-function($function), 100px);
          margin-bottom: call(get-function($function), 20px);
          width: 100%;
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 16px);
          line-height: call(get-function($function), 20px);
          color: #8F9195;
          min-height: call(get-function($function), 48px);
          padding-left: call(get-function($function), 15px);
          &:focus {
            outline: none;
          }
        }
        button {
          background: #D50032;
          border: call(get-function($function), 1.5px) solid #D50032;
          box-sizing: border-box;
          border-radius: call(get-function($function), 100px);
          font-family: 'Gotham Pro';
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: call(get-function($function), 15px);
          line-height: call(get-function($function), 14px);
          color: #FFFFFF;
          min-height: call(get-function($function), 48px);
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
  .basket-wrap-left {
    display: none;
  }
  .partners__form_wrap {
    padding-top: get-vw-1024(100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0px!important;
  }
  .partners__form form {
    width: 100%;
  }
  .partners_modal {
    margin-top: get-vw-1024(300px);
  }
}
@media screen and (max-width: 768px) {
  .partners_modal {
    margin-top: get-vw-768(150px);
  }
}
@media screen and (max-width: 600px) {
  .partners_modal {
    margin-top: get-vw-600(150px);
  }
}
@media screen and (max-width: 480px) {
  .partners_modal {
    margin-top: get-vw-480(150px);
  }
}
@media screen and (max-width: 360px) {
  .partners_modal {
    margin-top: get-vw-360(150px);
  }
  .partners__form form {
    width: 100%!important;
  }
  .partners__form_wrap {
    padding-top: get-vw-360(95px);
  }
}
