@mixin product_inner($function) {
  .product_inner {
    background: #fff;
    .prevArrow_product_inner {
      position: absolute;
      bottom: call(get-function($function), -80px);
      left: 0;
      width: call(get-function($function), 12px);
      height: call(get-function($function), 18px);
      z-index: 1;
      cursor: pointer;
    }
    .nextArrow_product_inner {
      position: absolute;
      bottom: call(get-function($function), -80px);
      right: 0;
      width: call(get-function($function), 12px);
      height: call(get-function($function), 18px);
      transform: rotate(180deg);
      z-index: 1;
      cursor: pointer;
    }
    &__descr {
      overflow-x: hidden;
      &_img {
        &__item {
          border: call(get-function($function), 1px) solid #C8C9CC;
          box-sizing: border-box;
          background: #fff;
          border-radius: call(get-function($function), 12px);
          width: call(get-function($function), 569px);
          height: call(get-function($function), 436px);
          margin-top: call(get-function($function), 30px);
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
          &_nav {
            width: 100%;
            display: flex!important;
            justify-content: space-around!important;
            align-items: center;
            margin-top: call(get-function($function), 25px);
            &__item {
              width: call(get-function($function), 142px)!important;
              height: call(get-function($function), 109px);
              border: 1px solid #C8C9CC;
              box-sizing: border-box;
              border-radius: call(get-function($function), 12px);
              padding-left: call(get-function($function), 10px);
              padding-right: call(get-function($function), 10px);
              margin-right: call(get-function($function), 30px);
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      &__content {
        margin-top: call(get-function($function), 20px);
        &_title {
          h3 {
            margin: 0;
            font-family: 'Gotham Pro Bold';
            font-size: call(get-function($function), 32px);
            line-height: 140%;
            color: #151515;
          }
          padding-bottom: call(get-function($function), 27px);
        }
        p {
          font-family: 'Gotham Pro';
          font-size: call(get-function($function), 17px);
          line-height: call(get-function($function), 25px);
          color: #151515;
        }
        &_info {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          margin-top: call(get-function($function), 40px);
          margin-bottom: call(get-function($function), 40px);
          &__item {
            display: flex;
            align-items: center;
            width: 75%;
            &_first {
              padding-right: call(get-function($function), 25px);
              padding-left: 0px;
              li {
                color: #A9A9A9;
              }
            }
            ul {
              list-style-type: none;
              margin: 0;
              li {
                font-family: 'Gotham Pro';
                font-size: call(get-function($function), 14px) ;
                line-height: call(get-function($function), 13px);
                padding-bottom: call(get-function($function), 18px);
              }
            }
          }
        }
        &_count {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          background: #FFFFFF;
          border: 1px solid #C8C9CC;
          box-sizing: border-box;
          border-radius: call(get-function($function), 27px);
          padding-left: call(get-function($function), 43px);
          padding-right: call(get-function($function), 43px);
          padding-top: call(get-function($function), 25px);
          padding-bottom: call(get-function($function), 25px);
          &__price {
            h2 {
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 25px);
              line-height: call(get-function($function), 25px);
              color: #D50032;
            }
            h3 {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 14px);
              line-height: call(get-function($function), 13px);
              text-decoration-line: line-through;
              color: #AEAEAE;
            }
          }
          &__select {
            &__counter {
              display: flex;
              align-items: center;
              &_btns {
                font-family: 'Gotham Pro';
                color: #8F9195;
                font-size: call(get-function($function), 20px);
                &:hover {
                  text-decoration: none;
                }
              }
              span {
                font-family: 'Gotham Pro';
                font-size: call(get-function($function), 16px);
                line-height: call(get-function($function), 20px);
                text-align: center;
                color: #333D4D;
                margin: 0;
                padding-left: call(get-function($function), 12px);
                padding-right: call(get-function($function), 12px);
              }
            }
          }
          &__btn {
            background: #D50032;
            border: call(get-function($function), 1.5px) solid #D50032;
            box-sizing: border-box;
            border-radius: call(get-function($function), 100px);
            width: call(get-function($function), 228px);
            height: call(get-function($function), 48px);
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 15px);
              line-height: call(get-function($function), 14px);
              color: #FFFFFF;
              padding-left: call(get-function($function), 15px);
            }
            img {
              width: call(get-function($function), 26px);
              height: call(get-function($function), 26px);
            }
          }
        }
        &_favorites {
          padding-top: call(get-function($function), 25px);
          &__item {
            padding-right: call(get-function($function), 40px);
            img {
              width: call(get-function($function), 13px);
              height: call(get-function($function), 13px);
            }
            span {
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 15px);
              line-height: call(get-function($function), 14px);
              color: #151515;
            }
            &:hover {
              text-decoration: none;
            }
          }
        }
        &_tabs {
          padding-top: call(get-function($function), 45px);
          &__head {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            &_active {
              position: relative;
              width: call(get-function($function), 168px);
              &::after {
                content: '';
                position: absolute;
                bottom: call(get-function($function), -25px);
                left: 0;
                height: 1px;
                width: 100%;
                z-index: 1;
                background: #D50032;
              }
            }
            &::after {
              content: '';
              position: absolute;
              bottom: call(get-function($function), -25px);
              left: 0;
              height: 1px;
              width: 100%;
              background: #F5F5F5;
            }
            a {
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 18px);
              line-height: call(get-function($function), 17px);
              color: #151515;
              position: relative;
              &:hover {
                text-decoration: none;
              }
              span {
                background: #D50032;
                width: call(get-function($function), 31px);
                height: call(get-function($function), 15px);
                border-radius: call(get-function($function), 12px);
                padding: 0px call(get-function($function), 8px);
                font-family: 'Gotham Pro Bold';
                font-size: call(get-function($function), 10px);
                line-height: call(get-function($function), 10px);
                color: #FFFFFF;
              }
            }
          }
          &__content {
            padding-top: call(get-function($function), 50px);
            h3 {
              padding-top: call(get-function($function), 15px);
              font-family: 'Gotham Pro Bold';
              font-size: call(get-function($function), 15px);
              line-height: call(get-function($function), 14px);
              color: #151515;
            }
            p {
              padding-top: call(get-function($function), 15px);
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 14px);
              line-height: call(get-function($function), 20px);
              color: #151515;
            }
            &__character {
              padding-top: call(get-function($function), 15px);
              h2 {
                position: relative;
                font-family: 'Gotham Pro Bold';
                font-size: call(get-function($function), 17px);
                line-height: call(get-function($function), 15px);
                color: #151515;
                margin-bottom: call(get-function($function), 30px);
                &::after {
                  content: '';
                  position: absolute;
                  bottom: call(get-function($function), -25px);
                  left: 0;
                  height: 1px;
                  width: 100%;
                  background: #F5F5F5;
                }
              }
              .gray {
                background: #FDFDFD;
              }
              &__table {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: call(get-function($function), 40px);
                span {
                  font-family: Gotham Pro;
                  font-size: call(get-function($function), 14px);
                  line-height: call(get-function($function), 13px);
                  color: #575757;
                  text-align: left;
                  &:nth-child(2) {
                    width: 40%;
                  }
                }
              }
            }
          }
        }
      }
    }
    &__bottom {
      padding-top: call(get-function($function), 50px);
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h3 {
          font-family: 'Gotham Pro Bold';
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 17px);
          color: #151515;
          margin: 0;
        }
        a {
          font-family: 'Gotham Pro Bold';
          font-size: call(get-function($function), 18px);
          line-height: call(get-function($function), 17px);
          color: #151515;
          margin: 0;
          &:hover {
            text-decoration: none;
          }
          img {
            width: call(get-function($function), 6px);
            height: call(get-function($function), 12px);
          }
        }
      }
      &__descr {
        padding-top: call(get-function($function), 10px);
      }
    }
  }
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
  .product_inner__descr_img__item {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .product_inner__descr_img__item {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .product_inner__descr__content_info__item {
    width: 100%;
  }
  .product_inner__descr__content_info {
    flex-direction: column;
  }
  .product_inner__descr__content_info__item_first {
    width: 50%;
  }
  .product_inner__descr__content_count {
    flex-direction: column;
  }
  .product_inner__descr__content_tabs__head a {
    font-size: get-vw-360(14px);
  }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}
