@font-face{
  font-family: 'Gotham Pro';
  src: url('../../../assets/fonts/gothemPro.ttf');
}

@font-face{
  font-family: 'Gotham Pro Bold';
  src: url('../../../assets/fonts/gothemPro-bold.ttf');
}

// @font-face{
//   font-family: 'OpenSans-SemiBold';
//   src: url('../../../../assets/fonts/OpenSans-SemiBold.ttf');
// }

// @font-face{
//   font-family: 'OpenSans-Bold';
//   src: url('../../../../assets/fonts/OpenSans-Bold.ttf');
// }

// @font-face{
//   font-family: 'Gilroy';
//   src: url('../../../../assets/fonts/Gilroy-Regular.ttf');
// }
