@import '../page/home.scss';
@import '../layouts/footer.scss';
@import '../page/catalog.scss';
@import '../page/product_inner.scss';
@import '../page/basket.scss';
@import '../page/partners.scss';
@import '../page/outlet.scss';
@import '../page/checkout.scss';
@import '../page/client.scss';
@import '../page/account.scss';

html{
    font-size: 18px;
}


@function get-vw-1920($font){
  $vw-context: 1920 * 0.01 * 1px;
  @return $font / $vw-context * 1px;
  @return $font;
}
@function get-vw-1440($font){
    $vw-context: 1440 * 0.01 * 1px;
    @return $font / $vw-context * 1px;
    @return $font;
}

@function get-vw-1320($font){
    $vw-context: 1320 * 0.01 * 1px;
    @return $font / $vw-context * 1px;
    @return $font;
}
@function get-vw-1200($font){
    $vw-context: 1200 * 0.01 * 1px;
    @return $font / $vw-context * 1px;
    @return $font;
}
@function get-vw-1024($font){
    $vw-context: 1024 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-768($font){
    $vw-context: 768 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-600($font){
    $vw-context: 600 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-480($font){
    $vw-context: 480 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-360($font){
    $vw-context: 360 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

@mixin styling($width,$function) {
    @media screen and ( max-width: $width ) {
        @include all($function);
        @include catalog($function);
        @include product_inner($function);
        @include footer($function);
        @include basket($function);
        @include partners($function);
        @include outlet($function);
        @include checkout($function);
        @include client($function);
        @include account($function);
    }
}

@include styling(9999px, 'get-vw-1920');
@include styling(1920px, 'get-vw-1920');
@include styling(1440px, 'get-vw-1440');
@include styling(1024px, 'get-vw-1024');
@include styling(768px, 'get-vw-768');
@include styling(480px, 'get-vw-480');
@include styling(360px, 'get-vw-360');
