@mixin footer($function) {
  footer {
    background: #232830;
    min-height: call(get-function($function), 254px);
    display: flex;
    align-items: center;
  }
  .footer {
    min-height: call(get-function($function), 254px);
    display: flex;
    align-items: center;
    &__wrap {
      display: flex;
      align-items: center;
      padding: 0!important;
      min-height: call(get-function($function), 130px);
    }
    &__logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: call(get-function($function), 160px);
      img {
        width: call(get-function($function), 159px);
        height: call(get-function($function), 42px);
      }
      span {
        font-family: 'Gotham Pro';
        font-weight: 500;
        font-size: call(get-function($function), 14px);
        line-height: 154.19%;
        color: #FFFFFF;
      }
    }
    &__descr {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: call(get-function($function), 20px);
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding-bottom: call(get-function($function), 15px);
          a {
            font-family: 'Gotham Pro';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 15px);
            color: #FFFFFF;
          }
        }
      }
    }
    &__soc {
      &_list {
        display: flex;
        align-items: center;
        width: 100%;
        a {
          margin-right: call(get-function($function), 15px);
          img {
            width: call(get-function($function), 18px);
            height: call(get-function($function), 18px);
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding-left: call(get-function($function), 45px);
        li {
          padding-bottom: call(get-function($function), 15px);
          a {
            &:hover {
              text-decoration: none;
            }
            img {
              width: call(get-function($function), 19px);
              height: call(get-function($function), 19px);
            }
            span {
              font-family: 'Gotham Pro';
              font-size: call(get-function($function), 15px);
              line-height: call(get-function($function), 15px);
              color: #FFFFFF;
              padding-left: call(get-function($function), 10px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
  .footer__soc ul li {
    text-align: center;
  }
  .footer__soc_list {
    justify-content: center;
    margin-left: 10px;
  }
  .footer__logo span {
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 360px) {

}
