@import '../plugins/text.scss';

.container_wrapper {
  padding-left: get-vw-1920(355px);
  padding-right: get-vw-1920(355px);
}
header .header_top__geo h3 {
    line-height: 0px!important;
}
header {
  .header_top {
    background: #232830;
    width: 100%;
    height: get-vw-1920(54px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__find {
      position: relative;
      display: flex;
      input {
        background: #FFFFFF;
        border-radius: get-vw-1920(20px);
        width: get-vw-1920(279px);
        height: get-vw-1920(32px);
        border: none;
        padding: get-vw-1920(14px) get-vw-1920(10px);
        font-family: 'Gotham Pro';
        font-size: get-vw-1920(12px);
        line-height: get-vw-1920(11px);
        color: #232830;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: 'Gotham Pro';
          font-size: get-vw-1920(12px);
          line-height: get-vw-1920(11px);
          color: #8F9195;
        }
      }
      img {
        position: absolute;
        right: 5%;
        top: 25%;
        height: get-vw-1920(14px);
        width: get-vw-1920(14px);
      }
    }
    &__geo {
      display: flex;
      align-items: center;
      img {
        width: get-vw-1920(16px);
        height: get-vw-1920(16px);
      }
      span {
        font-family: 'Gotham Pro';
        font-size: get-vw-1920(12px);
        line-height: get-vw-1920(11px);
        color: #C1C4CA;
        padding-left: get-vw-1920(10px);
        padding-right: get-vw-1920(5px);
      }
      h3 {
        font-family: 'Gotham Pro Bold';
        font-size: get-vw-1920(14px);
        line-height: get-vw-1920(13px);
        color: #000;
        margin: 0;
      }
    }
  }
  .header_main {
    min-height: get-vw-1920(90px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &__lang {
      display: flex;
      align-items: center;
      &_active {
        color: #D50032!important;
      }
      a {
        font-family: 'Gotham Pro';
        font-weight: 800;
        font-size: get-vw-1920(14px);
        line-height: get-vw-1920(20px);
        color: #fff;
        padding-right: get-vw-1920(10px);
      }
    }
    &__logo {
      img {
        width: get-vw-1920(162px);
        height: get-vw-1920(44px);
      }
    }
    &__menu {
      background: #D50032;
      border-radius: get-vw-1920(100px);
      width: get-vw-1920(198px);
      height: get-vw-1920(48px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_link {
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: none;
        .catalog__links {
          display: flex;
        }
      }
      span {
        font-family: 'Gotham Pro';
        font-size: get-vw-1920(15px);
        line-height: get-vw-1920(14px);
        color: #FFFFFF;
      }
      img {
        width: get-vw-1920(22px);
        height: get-vw-1920(22px);
        margin-right: get-vw-1920(10px);
      }
    }
    &__phone {
      display: flex;
      align-items: center;
      &_img {
        display: flex;
        align-items: center;
        padding-right: get-vw-1920(10px);
        img {
          width: get-vw-1920(24px);
          height: get-vw-1920(24px);
        }
      }
      &_descr {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3 {
          font-family: 'Gotham Pro';
          font-size: get-vw-1920(12px);
          line-height: get-vw-1920(11px);
          color: #8F9195;
          margin: 0;
          padding-bottom: get-vw-1920(5px);
        }
        a {
          font-family: 'Gotham Pro';
          font-size: get-vw-1920(20px);
          font-weight: bold;
          line-height: get-vw-1920(19px);
          color: #333D4D;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__discount {
      &:hover {
        text-decoration: none;
      }
      img {
        width: get-vw-1920(23px);
        height: get-vw-1920(22px);
        margin-right: get-vw-1920(5px);
      }
      span {
        font-family: 'Gotham Pro';
        font-size: get-vw-1920(14px);
        font-weight: bold;
        line-height: get-vw-1920(13px);
        color: #D50032;
      }
    }
    &__links {
        display: flex;
        align-items: center;
      &:hover {
        text-decoration: none;
      }
      span {
        font-family: 'Gotham Pro';
        font-weight: bold;
        font-size: get-vw-1920(14px);
        line-height: get-vw-1920(13px);
        color: #333D4D;
      }
      img {
        width: get-vw-1920(20px);
        height: get-vw-1920(20px);
      }
    }
    &__cart {
      display: flex;
      align-items: center;
      position: relative;
      &:hover {
        text-decoration: none;
        .header_main__cart_block {
          display: block;
        }
      }
      &_img {
        display: flex;
        align-items: center;
        width: get-vw-1920(23px);
        height: get-vw-1920(23px);
        position: relative;
        h5 {
          font-family: 'Gotham Pro';
          font-weight: bold;
          font-size: get-vw-1920(12px);
          line-height: get-vw-1920(14px);
          color: #FFFFFF;
          margin: 0;
          position: absolute;
          top: -7px;
          right: -13%;
          z-index: 1;
        }
        &::after {
          content: '';
          position: absolute;
          width: get-vw-1920(18px);
          height: get-vw-1920(18px);
          border-radius: 50%;
          background: #D50032;
          top: -45%;
          right: -35%;
        }
      }
      &_descr {
        padding-left: get-vw-1920(12px);
        h3 {
          font-family: 'Gotham Pro';
          font-size: get-vw-1920(12px);
          line-height: get-vw-1920(11px);
          color: #8F9195;
          margin: 0;
        }
        span {
          font-family: 'Gotham Pro';
          font-weight: bold;
          font-size: get-vw-1920(14px);
          line-height: get-vw-1920(13px);
          color: #333D4D;
        }
      }
      &_flex {
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }
      &_block {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 99;
        display: none;
        width: get-vw-1920(401px);
        min-height: get-vw-1920(300px);
        background: #FFFFFF;
        box-shadow: 0px 0px get-vw-1920(8px) rgba(0, 0, 0, 0.2);
        border-radius: get-vw-1920(6px);
        padding-left: get-vw-1920(20px);
        padding-right: get-vw-1920(20px);
        padding-top: get-vw-1920(15px);
        padding-bottom: get-vw-1920(10px);
        &__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-bottom: get-vw-1920(15px);
          border-bottom: 1px solid #8F9195;
          &_h3 {
            font-family: 'Gotham Pro Bold';
            font-size: get-vw-1920(20px);
            line-height: get-vw-1920(15px);
            color: #333D4D;
            margin: 0;
          }
          &_img {
            img {
              width: get-vw-1920(15px);
              height: get-vw-1920(15px);
            }
          }
        }
        &__item {
          display: flex;
          align-items: center;
          padding-top: get-vw-1920(15px);
          padding-bottom: get-vw-1920(15px);
          border-bottom: 1px solid #8F9195;
          &__img {
            margin-right: get-vw-1920(25px);
            img {
              width: get-vw-1920(48px);
              height: get-vw-1920(45px);
            }
          }
          &__descr {
            h3 {
              font-family: 'Gotham Pro';
              font-size: get-vw-1920(14px);
              line-height: get-vw-1920(15px);
              color: #333D4D;
            }
            &_content {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .count {
                font-family: 'Gotham Pro';
                font-size: get-vw-1920(14px);
                line-height: get-vw-1920(13px);
                color: #8F9195;
              }
              .price {
                font-family: 'Gotham Pro Bold';
                font-size: get-vw-1920(14px);
                line-height: get-vw-1920(11px);
                color: #D50032;
              }
            }
          }
        }
        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: get-vw-1920(15px);
          &_result {
            display: flex;
            flex-direction: column;
            &__product {
              display: flex;
              align-items: center;
              padding-bottom: get-vw-1920(10px);
              h3 {
                font-family: 'Gotham Pro';
                font-size: get-vw-1920(14px);
                line-height: get-vw-1920(13px);
                color: #333D4D;
                margin: 0;
              }
              span {
                font-family: 'Gotham Pro Bold';
                font-size: get-vw-1920(12px);
                line-height: get-vw-1920(11px);
                color: #8F9195;
              }
            }
            &__price {
              display: flex;
              align-items: center;
              h3 {
                font-family: 'Gotham Pro';
                font-size: get-vw-1920(14px);
                line-height: get-vw-1920(13px);
                color: #333D4D;
                margin: 0;
              }
              span {
                font-family: 'Gotham Pro Bold';
                font-size: get-vw-1920(14px);
                line-height: get-vw-1920(13px);
                color: #D50032;
              }
            }
          }
          &_btn {
            background: #D50032;
            box-shadow: 0px get-vw-1920(10px) get-vw-1920(20px) rgba(213, 0, 50, 0.2);
            border-radius: get-vw-1920(100px);
            font-family: 'Gotham Pro';
            font-size: get-vw-1920(14px);
            line-height: get-vw-1920(13px);
            color: #FFFFFF;
            padding: get-vw-1920(15px) get-vw-1920(28px);
            &:hover {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.catalog__links {
  width: get-vw-1920(547px);
  height: get-vw-1920(236px);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  &_item {
    display: flex;
    justify-content: space-between;
    margin-top: get-vw-1920(8px);
    width: 100%;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px get-vw-1920(8px) rgba(0, 0, 0, 0.2);
    border-radius: get-vw-1920(6px);
    padding-right: get-vw-1920(40px);
    padding-top: get-vw-1920(30px);
  }
  &:hover {
    display: flex;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      margin-bottom: get-vw-1920(45px);
      padding-left: get-vw-1920(40px);
      span {
        width: get-vw-1920(8px);
        height: get-vw-1920(8px);
        background: #D50032;
        border-radius: get-vw-1920(1px);
        position: absolute;
        top: 6%;
        left: get-vw-1920(10px);
      }
      a {
        font-family: 'Gotham Pro';
        font-size: get-vw-1920(16px);
        line-height: get-vw-1920(15px);
        color: #333D4D;

      }
      &:hover {
        &::before {
          content: '';
          position: absolute;
          left: get-vw-1920(0px);
          bottom: get-vw-1920(-5px);
          display: grid;
          place-content: center;
          width: 100%;
          height: get-vw-1920(2px);
          background: #D50032;
          border-radius: get-vw-1920(1px);
          overflow: hidden;
        }
        a {
          color: #D50032;
          text-decoration: none;
          position: relative;
          width: fit-content;
        }
        span {
          display: none;
        }
      }
    }
  }
}
.burger-menu {
  display: none;
}

.burger-menu-btn{
  width: 3rem;
  height: 2.5rem;
  background-color: #000000;
  border-radius: 5px;
  position: fixed;
  top: 2.1rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}
.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}
.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}
.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);
}
.nav-panel-mobil{
	position: fixed;
	background-color: #fff;
	height:100vh;
	z-index: 99;
	transition:.5s;
	width: 100%;
	text-align: center;
	transform: translateX(-100%);
	font-size:20px;
	font-weight:bold;
	padding-top:1rem;
	top: 0;
	display: flex;
	align-items: center;
}
.nav-panel-mobil-active{
	transform: translateX(0);
}
.burger-menu-btn{
  width: 3rem;
  height: 2.5rem;
  background-color: #000000;
  border-radius: 5px;
  position: absolute;
  top: 2.1rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}
.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}
.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}
.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);
}
.left_arrow, .right_arrow {
  position: absolute;
  top: 40%;
  z-index: 1;
  cursor: pointer;
}
.left_arrow {
  left: get-vw-1920(40px);
}
.right_arrow {
  right: get-vw-1920(40px);
}

@media screen and (max-width: 1440px) {
  .container_wrapper {
    padding-left: get-vw-1440(75px);
    padding-right: get-vw-1440(75px);
  }
  header {
    .header_top {
      height: get-vw-1440(54px);
      &__find {
        &_lang {
          &__active {
            padding: get-vw-1440(7px);
          }
          a {
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(13px);
            margin-left: get-vw-1440(5px);
          }
        }
        input {
          border-radius: get-vw-1440(20px);
          width: get-vw-1440(279px);
          height: get-vw-1440(32px);
          padding: get-vw-1440(14px) get-vw-1440(10px);
          font-size: get-vw-1440(12px);
          line-height: get-vw-1440(11px);
          &::placeholder {
            font-size: get-vw-1440(12px);
            line-height: get-vw-1440(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-1440(14px);
          width: get-vw-1440(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-1440(16px);
          height: get-vw-1440(16px);
        }
        span {
          font-size: get-vw-1440(12px);
          line-height: get-vw-1440(11px);
          padding-left: get-vw-1440(10px);
          padding-right: get-vw-1440(5px);
        }
        h3 {
          font-size: get-vw-1440(14px);
        }
      }
    }
    .header_main {
      height: get-vw-1440(90px);
      &__logo {
        img {
          width: get-vw-1440(162px);
          height: get-vw-1440(44px);
        }
      }
      &__menu {
        border-radius: get-vw-1440(100px);
        width: get-vw-1440(198px);
        height: get-vw-1440(48px);
        span {
          font-size: get-vw-1440(15px);
          line-height: get-vw-1440(14px);
        }
        img {
          width: get-vw-1440(22px);
          height: get-vw-1440(22px);
          margin-right: get-vw-1440(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-1440(10px);
          img {
            width: get-vw-1440(24px);
            height: get-vw-1440(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-1440(12px);
            line-height: get-vw-1440(11px);
            padding-bottom: get-vw-1440(5px);
          }
          a {
            font-size: get-vw-1440(20px);
            line-height: get-vw-1440(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-1440(23px);
          height: get-vw-1440(22px);
          margin-right: get-vw-1440(5px);
        }
        span {
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(13px);
        }
        img {
          width: get-vw-1440(20px);
          height: get-vw-1440(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-1440(23px);
          height: get-vw-1440(23px);
          h5 {
            font-size: get-vw-1440(12px);
            line-height: get-vw-1440(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-1440(18px);
            height: get-vw-1440(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-1440(12px);
          h3 {
            font-size: get-vw-1440(12px);
            line-height: get-vw-1440(11px);
          }
          span {
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(13px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container_wrapper {
    padding-left: get-vw-1200(75px);
    padding-right: get-vw-1200(75px);
  }
  header {
    .header_top {
      height: get-vw-1200(54px);
      &__find {
        input {
          border-radius: get-vw-1200(20px);
          width: get-vw-1200(279px);
          height: get-vw-1200(32px);
          padding: get-vw-1200(14px) get-vw-1200(10px);
          font-size: get-vw-1200(12px);
          line-height: get-vw-1200(11px);
          &::placeholder {
            font-size: get-vw-1200(12px);
            line-height: get-vw-1200(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-1200(14px);
          width: get-vw-1200(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-1200(16px);
          height: get-vw-1200(16px);
        }
        span {
          font-size: get-vw-1200(12px);
          line-height: get-vw-1200(11px);
          padding-left: get-vw-1200(10px);
          padding-right: get-vw-1200(5px);
        }
        h3 {
          font-size: get-vw-1200(14px);
          line-height: get-vw-1200(13px);
        }
      }
    }
    .header_main {
      height: get-vw-1200(90px);
      &__logo {
        img {
          width: get-vw-1200(162px);
          height: get-vw-1200(44px);
        }
      }
      &__menu {
        border-radius: get-vw-1200(100px);
        width: get-vw-1200(198px);
        height: get-vw-1200(48px);
        span {
          font-size: get-vw-1200(15px);
          line-height: get-vw-1200(14px);
        }
        img {
          width: get-vw-1200(22px);
          height: get-vw-1200(22px);
          margin-right: get-vw-1200(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-1200(10px);
          img {
            width: get-vw-1200(24px);
            height: get-vw-1200(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-1200(12px);
            line-height: get-vw-1200(11px);
            padding-bottom: get-vw-1200(5px);
          }
          a {
            font-size: get-vw-1200(20px);
            line-height: get-vw-1200(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-1200(23px);
          height: get-vw-1200(22px);
          margin-right: get-vw-1200(5px);
        }
        span {
          font-size: get-vw-1200(14px);
          line-height: get-vw-1200(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-1200(14px);
          line-height: get-vw-1200(13px);
        }
        img {
          width: get-vw-1200(20px);
          height: get-vw-1200(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-1200(23px);
          height: get-vw-1200(23px);
          h5 {
            font-size: get-vw-1200(12px);
            line-height: get-vw-1200(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-1200(18px);
            height: get-vw-1200(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-1200(12px);
          h3 {
            font-size: get-vw-1200(12px);
            line-height: get-vw-1200(11px);
          }
          span {
            font-size: get-vw-1200(14px);
            line-height: get-vw-1200(13px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
    .catalog__links {
        display: none!important;
    }
  .container_wrapper {
    padding-left: get-vw-1024(25px);
    padding-right: get-vw-1024(25px);
  }
  .left_arrow, .right_arrow {
    display: none!important;
  }
  header {
    .header_top {
      height: get-vw-1024(54px);
      &__find {
        input {
          border-radius: get-vw-1024(20px);
          width: get-vw-1024(279px);
          height: get-vw-1024(32px);
          padding: get-vw-1024(14px) get-vw-1024(10px);
          font-size: get-vw-1024(12px);
          line-height: get-vw-1024(11px);
          &::placeholder {
            font-size: get-vw-1024(12px);
            line-height: get-vw-1024(11px);
          }
        }
        img {
          right: 5%;
          top: 30%;
          height: get-vw-1024(14px);
          width: get-vw-1024(14px);
        }
      }
      &__geo {
        display: none;
        img {
          width: get-vw-1024(16px);
          height: get-vw-1024(16px);
        }
        span {
          font-size: get-vw-1024(12px);
          line-height: get-vw-1024(11px);
          padding-left: get-vw-1024(10px);
          padding-right: get-vw-1024(5px);
        }
        h3 {
          font-size: get-vw-1024(14px);
          line-height: get-vw-1024(13px);
        }
      }
    }
    .header_main {
      height: get-vw-1024(90px);
      &__logo {
        img {
          width: get-vw-1024(162px);
          height: get-vw-1024(44px);
        }
      }
      &__menu {
        border-radius: get-vw-1024(100px);
        width: get-vw-1024(198px);
        height: get-vw-1024(48px);
        span {
          font-size: get-vw-1024(15px);
          line-height: get-vw-1024(14px);
        }
        img {
          width: get-vw-1024(22px);
          height: get-vw-1024(22px);
          margin-right: get-vw-1024(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-1024(10px);
          img {
            width: get-vw-1024(24px);
            height: get-vw-1024(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-1024(12px);
            line-height: get-vw-1024(11px);
            padding-bottom: get-vw-1024(5px);
          }
          a {
            font-size: get-vw-1024(20px);
            line-height: get-vw-1024(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-1024(23px);
          height: get-vw-1024(22px);
          margin-right: get-vw-1024(5px);
        }
        span {
          font-size: get-vw-1024(14px);
          line-height: get-vw-1024(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-1024(14px);
          line-height: get-vw-1024(13px);
        }
        img {
          width: get-vw-1024(20px);
          height: get-vw-1024(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-1024(23px);
          height: get-vw-1024(23px);
          h5 {
            font-size: get-vw-1024(12px);
            line-height: get-vw-1024(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-1024(18px);
            height: get-vw-1024(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-1024(12px);
          h3 {
            font-size: get-vw-1024(12px);
            line-height: get-vw-1024(11px);
          }
          span {
            font-size: get-vw-1024(14px);
            line-height: get-vw-1024(13px);
          }
        }
      }
    }
  }
  .burger-menu {
    display: block;
  }
  .header_main__phone, .header_main__discount, .header_main__links, .header_main__cart {
    display: none!important;
  }
  .header_main__menu {
    margin-right: get-vw-1024(75px);
  }
  .burger-menu-btn {
    top: get-vw-1024(79px);
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column!important;
  }
  header .header_main__lang a {
    font-size: get-vw-1024(25px);
  }
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 13px;
    color: #333D4D;
  }
  .nav-link-active {
    color: #D50032!important;
  }
  .nav-link-lang {
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .burger-menu-btn {
    top: get-vw-768(79px);
  }
  .container_wrapper {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
  }
  header {
    .header_top {
      height: get-vw-768(54px);
      &__find {
        input {
          border-radius: get-vw-768(20px);
          width: get-vw-768(279px);
          height: get-vw-768(32px);
          padding: get-vw-768(14px) get-vw-768(10px);
          font-size: get-vw-768(12px);
          line-height: get-vw-768(11px);
          &::placeholder {
            font-size: get-vw-768(12px);
            line-height: get-vw-768(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-768(14px);
          width: get-vw-768(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-768(16px);
          height: get-vw-768(16px);
        }
        span {
          font-size: get-vw-768(12px);
          line-height: get-vw-768(11px);
          padding-left: get-vw-768(10px);
          padding-right: get-vw-768(5px);
        }
        h3 {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(13px);
        }
      }
    }
    .header_main {
      height: get-vw-768(90px);
      &__logo {
        img {
          width: get-vw-768(162px);
          height: get-vw-768(44px);
        }
      }
      &__menu {
        border-radius: get-vw-768(100px);
        width: get-vw-768(198px);
        height: get-vw-768(48px);
        span {
          font-size: get-vw-768(15px);
          line-height: get-vw-768(14px);
        }
        img {
          width: get-vw-768(22px);
          height: get-vw-768(22px);
          margin-right: get-vw-768(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-768(10px);
          img {
            width: get-vw-768(24px);
            height: get-vw-768(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-768(12px);
            line-height: get-vw-768(11px);
            padding-bottom: get-vw-768(5px);
          }
          a {
            font-size: get-vw-768(20px);
            line-height: get-vw-768(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-768(23px);
          height: get-vw-768(22px);
          margin-right: get-vw-768(5px);
        }
        span {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(13px);
        }
        img {
          width: get-vw-768(20px);
          height: get-vw-768(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-768(23px);
          height: get-vw-768(23px);
          h5 {
            font-size: get-vw-768(12px);
            line-height: get-vw-768(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-768(18px);
            height: get-vw-768(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-768(12px);
          h3 {
            font-size: get-vw-768(12px);
            line-height: get-vw-768(11px);
          }
          span {
            font-size: get-vw-768(14px);
            line-height: get-vw-768(13px);
          }
        }
      }
    }
  }
  .header_main__menu {
    margin-right: get-vw-768(75px);
  }
  header .header_main__lang a {
    font-size: get-vw-768(25px);
  }
}
@media screen and (max-width: 600px) {
  .container_wrapper {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
  }
  header {
    .header_top {
      height: get-vw-600(54px);
      &__find {
        input {
          border-radius: get-vw-600(20px);
          width: get-vw-600(279px);
          height: get-vw-600(32px);
          padding: get-vw-600(14px) get-vw-600(10px);
          font-size: get-vw-600(12px);
          line-height: get-vw-600(11px);
          &::placeholder {
            font-size: get-vw-600(12px);
            line-height: get-vw-600(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-600(14px);
          width: get-vw-600(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-600(16px);
          height: get-vw-600(16px);
        }
        span {
          font-size: get-vw-600(12px);
          line-height: get-vw-600(11px);
          padding-left: get-vw-600(10px);
          padding-right: get-vw-600(5px);
        }
        h3 {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(13px);
        }
      }
    }
    .header_main {
      height: get-vw-600(90px);
      &__logo {
        img {
          width: get-vw-600(162px);
          height: get-vw-600(44px);
        }
      }
      &__menu {
        border-radius: get-vw-600(100px);
        width: get-vw-600(198px);
        height: get-vw-600(48px);
        span {
          font-size: get-vw-600(15px);
          line-height: get-vw-600(14px);
        }
        img {
          width: get-vw-600(22px);
          height: get-vw-600(22px);
          margin-right: get-vw-600(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-600(10px);
          img {
            width: get-vw-600(24px);
            height: get-vw-600(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-600(12px);
            line-height: get-vw-600(11px);
            padding-bottom: get-vw-600(5px);
          }
          a {
            font-size: get-vw-600(20px);
            line-height: get-vw-600(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-600(23px);
          height: get-vw-600(22px);
          margin-right: get-vw-600(5px);
        }
        span {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(13px);
        }
        img {
          width: get-vw-600(20px);
          height: get-vw-600(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-600(23px);
          height: get-vw-600(23px);
          h5 {
            font-size: get-vw-600(12px);
            line-height: get-vw-600(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-600(18px);
            height: get-vw-600(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-600(12px);
          h3 {
            font-size: get-vw-600(12px);
            line-height: get-vw-600(11px);
          }
          span {
            font-size: get-vw-600(14px);
            line-height: get-vw-600(13px);
          }
        }
      }
    }
  }
  .header_main__menu {
    margin-right: get-vw-600(75px);
  }
}
@media screen and (max-width: 480px) {
  .container_wrapper {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
  }
  header {
    .header_top {
      height: get-vw-480(54px);
      &__find {
        input {
          border-radius: get-vw-480(20px);
          width: get-vw-480(279px);
          height: get-vw-480(32px);
          padding: get-vw-480(14px) get-vw-480(10px);
          font-size: get-vw-480(12px);
          line-height: get-vw-480(11px);
          &::placeholder {
            font-size: get-vw-480(12px);
            line-height: get-vw-480(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-480(14px);
          width: get-vw-480(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-480(16px);
          height: get-vw-480(16px);
        }
        span {
          font-size: get-vw-480(12px);
          line-height: get-vw-480(11px);
          padding-left: get-vw-480(10px);
          padding-right: get-vw-480(5px);
        }
        h3 {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(13px);
        }
      }
    }
    .header_main {
      height: get-vw-480(90px);
      &__logo {
        img {
          width: get-vw-480(162px);
          height: get-vw-480(44px);
        }
      }
      &__menu {
        border-radius: get-vw-480(100px);
        width: get-vw-480(198px);
        height: get-vw-480(48px);
        span {
          font-size: get-vw-480(15px);
          line-height: get-vw-480(14px);
        }
        img {
          width: get-vw-480(22px);
          height: get-vw-480(22px);
          margin-right: get-vw-480(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-480(10px);
          img {
            width: get-vw-480(24px);
            height: get-vw-480(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-480(12px);
            line-height: get-vw-480(11px);
            padding-bottom: get-vw-480(5px);
          }
          a {
            font-size: get-vw-480(20px);
            line-height: get-vw-480(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-480(23px);
          height: get-vw-480(22px);
          margin-right: get-vw-480(5px);
        }
        span {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(13px);
        }
        img {
          width: get-vw-480(20px);
          height: get-vw-480(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-480(23px);
          height: get-vw-480(23px);
          h5 {
            font-size: get-vw-480(12px);
            line-height: get-vw-480(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-480(18px);
            height: get-vw-480(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-480(12px);
          h3 {
            font-size: get-vw-480(12px);
            line-height: get-vw-480(11px);
          }
          span {
            font-size: get-vw-480(14px);
            line-height: get-vw-480(13px);
          }
        }
      }
    }
  }
  .header_main__menu {
    margin-right: get-vw-480(75px);
  }
  .burger-menu-btn {
    top: get-vw-480(75px);
  }
  header .header_main__logo img {
    width: get-vw-480(120px);
    height: get-vw-480(50px)
  }
  .header_main__menu {
    margin-right: get-vw-480(90px);
  }
  header .header_main__lang a {
    font-size: get-vw-480(16px);
    padding: get-vw-480(5px);
  }
}
@media screen and (max-width: 360px) {
  .container_wrapper {
    padding-left: get-vw-360(10px);
    padding-right: get-vw-360(10px);
  }
  header {
    .header_top {
      height: get-vw-360(54px);
      &__find {
        input {
          border-radius: get-vw-360(20px);
          width: get-vw-360(279px);
          height: get-vw-360(32px);
          padding: get-vw-360(14px) get-vw-360(10px);
          font-size: get-vw-360(12px);
          line-height: get-vw-360(11px);
          &::placeholder {
            font-size: get-vw-360(12px);
            line-height: get-vw-360(11px);
          }
        }
        img {
          right: 5%;
          top: 20%;
          height: get-vw-360(14px);
          width: get-vw-360(14px);
        }
      }
      &__geo {
        img {
          width: get-vw-360(16px);
          height: get-vw-360(16px);
        }
        span {
          font-size: get-vw-360(12px);
          line-height: get-vw-360(11px);
          padding-left: get-vw-360(10px);
          padding-right: get-vw-360(5px);
        }
        h3 {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(13px);
        }
      }
    }
    .header_main {
      height: get-vw-360(90px);
      &__logo {
        img {
          width: get-vw-360(162px);
          height: get-vw-360(44px);
        }
      }
      &__menu {
        border-radius: get-vw-360(100px);
        width: get-vw-360(198px);
        height: get-vw-360(48px);
        span {
          font-size: get-vw-360(15px);
          line-height: get-vw-360(14px);
        }
        img {
          width: get-vw-360(22px);
          height: get-vw-360(22px);
          margin-right: get-vw-360(10px);
        }
      }
      &__phone {
        &_img {
          padding-right: get-vw-360(10px);
          img {
            width: get-vw-360(24px);
            height: get-vw-360(24px);
          }
        }
        &_descr {
          h3 {
            font-size: get-vw-360(12px);
            line-height: get-vw-360(11px);
            padding-bottom: get-vw-360(5px);
          }
          a {
            font-size: get-vw-360(20px);
            line-height: get-vw-360(19px);
          }
        }
      }
      &__discount {
        img {
          width: get-vw-360(23px);
          height: get-vw-360(22px);
          margin-right: get-vw-360(5px);
        }
        span {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(13px);
        }
      }
      &__links {
        span {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(13px);
        }
        img {
          width: get-vw-360(20px);
          height: get-vw-360(20px);
        }
      }
      &__cart {
        &_img {
          width: get-vw-360(23px);
          height: get-vw-360(23px);
          h5 {
            font-size: get-vw-360(12px);
            line-height: get-vw-360(14px);
            top: -7px;
            right: -13%;
          }
          &::after {
            width: get-vw-360(18px);
            height: get-vw-360(18px);
            top: -45%;
            right: -35%;
          }
        }
        &_descr {
          padding-left: get-vw-360(12px);
          h3 {
            font-size: get-vw-360(12px);
            line-height: get-vw-360(11px);
          }
          span {
            font-size: get-vw-360(14px);
            line-height: get-vw-360(13px);
          }
        }
      }
    }
  }
  .header_main__menu {
    margin-right: get-vw-360(75px);
  }
  .header_main__menu {
    margin-right: get-vw-360(75px);
  }
  .burger-menu-btn {
    top: get-vw-360(78px);
    right: get-vw-360(15px);
  }
  header .header_main__logo img {
    width: get-vw-360(120px);
    height: get-vw-360(50px);
    margin-right: get-vw-360(10px);
  }
}
